@using FF1Lib;
@inject IJSRuntime JSRuntime

	<div id="Enemies" class="tabcontent framed-content clearfix @(noTabLayout ? "no-tab" : "") @(IsOpen ? "" : "collapsed")">
		<h3 class="@(IsOpen ? "" : "h3-collapsed")"><a class="@(noTabLayout ? "collapsible-header" : "")" @onclick="(() => IsOpen = (!noTabLayout || !IsOpen))">Enemies, Formations, and Bosses</a></h3>
		@if(IsOpen)
		{
 	<div class="row">
		<div class="col1">
			<h4>Formations</h4>
			<EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="formationShuffleModeDropDown" TItem="FormationShuffleMode" IsEnabled="@(!Flags.RandomizeFormationEnemizer)" @bind-Value="Flags.FormationShuffleMode">Rarity:</EnumDropDown>

            <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="runnabilityShuffleCheckbox" @bind-Value="Flags.UnrunnableShuffle">Shuffle Unrunnable Encounters</TriStateCheckBox>
            <DoubleSlider ShowPercent DoubleCol Indent DisableTooltip Id="runnabilityDoubleSlider" IsEnabled="@(Flags.UnrunnableShuffle != false)" MinValue="0" MaxValue="100" Step="4" @bind-ValuesRange="(Flags.UnrunnablesLow,Flags.UnrunnablesHigh)">Count:</DoubleSlider>
            <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="unrunnablesStrikeFirstAndSurpriseCheckBox" @bind-Value="Flags.UnrunnablesStrikeFirstAndSurprise">Unrunnable Ambush/Preemptive</TriStateCheckBox>
			<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="enemyFormationsSurpriseCheckBox" @bind-Value="Flags.EnemyFormationsSurprise">Shuffle Surprise Bonus</TriStateCheckBox>

			<div class="checkbox-cell"></div>
			<h4>Bosses</h4>
			<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="bossScriptsCheckBox" @bind-Value="Flags.ShuffleScriptsBosses">Shuffle Scripts</TriStateCheckBox>
			<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="bossSkillsSpellsCheckBox" @bind-Value="Flags.ShuffleSkillsSpellsBosses">Shuffle Skills & Spells</TriStateCheckBox>
			<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Indent IsEnabled="@(Flags.ShuffleSkillsSpellsBosses != false)" Id="noConsecutiveNukesCheckBox" @bind-Value="Flags.NoConsecutiveNukes">No Consecutive NUKE or NUCLEAR</TriStateCheckBox>

			<div class="checkbox-cell"></div>
			<h4>Enemies</h4>
			<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="enemyScriptsCheckBox" @bind-Value="Flags.ShuffleScriptsEnemies">Shuffle Scripts</TriStateCheckBox>
			<EnumDropDown UpdateToolTip="@UpdateToolTipID" Indent IsEnabled="@(Flags.ShuffleScriptsEnemies != false)" Id="scriptMultiplier" TItem="ScriptTouchMultiplier" @bind-Value="Flags.ScriptMultiplier">Script Count:</EnumDropDown>
			<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="enemySkillsSpellsCheckBox" @bind-Value="Flags.ShuffleSkillsSpellsEnemies">Shuffle Skills & Spells</TriStateCheckBox>
			<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Indent IsEnabled="@(Flags.ShuffleSkillsSpellsEnemies != false)" Id="enemySkillsSpellsTieredCheckBox" @bind-Value="Flags.EnemySkillsSpellsTiered">Generate Balanced Scripts</TriStateCheckBox>
			<CheckBox UpdateToolTip="@UpdateToolTipID" Indent IsEnabled="@(Flags.ShuffleSkillsSpellsEnemies != false)" Id="noEmptyScripts" @bind-Value="Flags.NoEmptyScripts">No Empty Scripts</CheckBox>

			<div class="checkbox-cell"></div>
			<h4>Status Attacks</h4>
			<EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="touchMode" TItem="TouchMode" @bind-Value="Flags.TouchMode">Mode:</EnumDropDown>
			<EnumDropDown UpdateToolTip="@UpdateToolTipID" IsEnabled="@(Flags.TouchMode != TouchMode.Standard && Flags.TouchMode != TouchMode.Shuffle)" Id="touchMultiplier" TItem="ScriptTouchMultiplier" @bind-Value="Flags.TouchMultiplier">Count:</EnumDropDown>
			<EnumDropDown UpdateToolTip="@UpdateToolTipID" IsEnabled="@(Flags.TouchMode != TouchMode.Standard && Flags.TouchMode != TouchMode.Shuffle)" Id="touchPool" TItem="TouchPool" @bind-Value="Flags.TouchPool">Pool:</EnumDropDown>
			<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" IsEnabled="@(Flags.TouchMode != TouchMode.Standard && Flags.TouchMode != TouchMode.Shuffle)" Id="touchIncludeBosses" @bind-Value="Flags.TouchIncludeBosses">Include Bosses</TriStateCheckBox>

			<div class="checkbox-cell"></div>
			<h4>Trap Tiles</h4>
			<EnumDropDown UpdateToolTip="@UpdateToolTipID" IsEnabled="@(!Flags.RandomizeEnemizer)" Id="EnemyTrapTiles" TItem="TrapTileMode" @bind-Value="Flags.EnemyTrapTiles">Trap Tile Pool:</EnumDropDown>
		</div>

		<div class="col2">
			<h4>WarMech</h4>
			<EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="WarMECHModeDropDown" TItem="WarMECHMode" @bind-Value="Flags.WarMECHMode">WarMECH Mode:</EnumDropDown>
			<div class="checkbox-cell"></div>

			<h4>Pirates</h4>
			<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="swolePiratesCheckBox" @bind-Value="Flags.SwolePirates">Buffed</TriStateCheckBox>
			<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="allowUnsafePiratesCheckBox" @bind-Value="Flags.AllowUnsafePirates">Unsafe Script</TriStateCheckBox>
			<div class="checkbox-cell"></div>

			<h4>Astos</h4>
			<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="swoleAstosCheckBox" @bind-Value="Flags.SwoleAstos">Buffed</TriStateCheckBox>
			<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="shuffleAstosCheckBox" @bind-Value="Flags.ShuffleAstos">Shuffle Location</TriStateCheckBox>
			<CheckBox UpdateToolTip="@UpdateToolTipID" Indent Id="unsafeAstosCheckBox" IsEnabled="@Flags.ShuffleAstos" @bind-Value="Flags.UnsafeAstos">Unsafe</CheckBox>
			<div class="checkbox-cell"></div>

			<h4>Fiends</h4>
			<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="fiendShuffleCheckBox" @bind-Value="Flags.FiendShuffle">Shuffle</TriStateCheckBox>
			<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="alternateFiendsCheckBox" IsEnabled="@(!Flags.SpookyFlag)" @bind-Value="Flags.AlternateFiends">Alternate</TriStateCheckBox>
			<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Indent Id="FinalFantasy1pool" IsEnabled=@Flags.AlternateFiends @bind-Value="Flags.FinalFantasy1BonusFiends">Final Fantasy 1 Bonus</TriStateCheckBox>
			<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Indent Id="finalfanstay2pool" IsEnabled=@Flags.AlternateFiends @bind-Value="Flags.FinalFantasy2Fiends">Final Fantasy 2</TriStateCheckBox>
			<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Indent Id="finalfanstay3pool" IsEnabled=@Flags.AlternateFiends @bind-Value="Flags.FinalFantasy3Fiends">Final Fantasy 3</TriStateCheckBox>
			<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Indent Id="finalfanstay4pool" IsEnabled=@Flags.AlternateFiends @bind-Value="Flags.FinalFantasy4Fiends">Final Fantasy 4</TriStateCheckBox>
            <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Indent Id="finalfanstay5pool" IsEnabled=@Flags.AlternateFiends @bind-Value="Flags.FinalFantasy5Fiends">Final Fantasy 5</TriStateCheckBox>
            <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Indent Id="finalfanstay6pool" IsEnabled=@Flags.AlternateFiends @bind-Value="Flags.FinalFantasy6Fiends">Final Fantasy 6</TriStateCheckBox>
			<div class="checkbox-cell"></div>

			<h4>Bahamut</h4>
			<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="fightBahamutCheckBox" IsEnabled="@(Flags.SpookyFlag != true && Flags.RandomizeFormationEnemizer != true)" @bind-Value="Flags.FightBahamut">Fight</TriStateCheckBox>
			<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Indent Id="swoleBahamutCheckBox" IsEnabled="@(Flags.FightBahamut != false)" @bind-Value="Flags.SwoleBahamut">Buffed</TriStateCheckBox>

			<div class="checkbox-cell"></div>
		    <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="spoilerBatsDropDown" TItem="SpoilerBatHints" @bind-Value="Flags.SkyWarriorSpoilerBats">Temple of Fiends Bats Give Boss Hints:</EnumDropDown>
			<TriStateCheckBox Indent UpdateToolTip="@UpdateToolTipID" Id="spoilerBatsDontCheckOrbsCheckbox" IsEnabled="@Flags.SpoilerBatsDontCheckOrbsEnabled" @bind-Value="Flags.SpoilerBatsDontCheckOrbs">Early Spoilers</TriStateCheckBox>

		<div class="checkbox-cell"></div>
		<h4>Enemizer</h4>
		<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="randomizeFormationEnemizer" @bind-Value="Flags.RandomizeFormationEnemizer">Generate New Formations</TriStateCheckBox>
		<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="randomizeEnemizer" Indent IsEnabled="@Flags.RandomizeFormationEnemizer" @bind-Value="Flags.RandomizeEnemizer">Generate New Enemies</TriStateCheckBox>

		</div>
		</div>
        

		<div class="clear-it"></div>
		}
	</div>


	@code {
		[Parameter] public FF1Lib.FlagsViewModel Flags { get; set; }
		[Parameter] public Action<string, MouseEventArgs> UpdateToolTipID { get; set; }
		[Parameter] public bool noTabLayout { get; set; }
		[Parameter] public bool IsOpen { get; set; } = true;


	}
