@using FF1Lib;


	<div id="Beta" class="tabcontent framed-content clearfix @(noTabLayout ? "no-tab" : "") @(IsOpen ? "" : "collapsed")">
		<h3 class="@(IsOpen ? "" : "h3-collapsed")"><a class="@(noTabLayout ? "collapsible-header" : "")" @onclick="(() => IsOpen = (!noTabLayout || !IsOpen))">Experimental Beta Flags</a></h3>
		@if(IsOpen)
		{ 
		<p>Test out features from 2000 years in the future - at your own risk!</p>
		<div class="col1">
			<div class="checkbox-cell"></div>
			<CheckBox UpdateToolTip="@UpdateToolTipID" Id="itemPlacementCheckBox" IsEnabled="@Flags.Treasures" @bind-Value="Flags.ClassicItemPlacement">Use Older v2 Placement</CheckBox>
			<CheckBox UpdateToolTip="@UpdateToolTipID" IsEnabled="@(!Flags.BuyTen)" Id="buyTenOldCheckBox" @bind-Value="Flags.BuyTenOld">Buy Ten (old)</CheckBox>
			<div class="checkbox-cell"></div>
			<CheckBox UpdateToolTip="@UpdateToolTipID" Id="procGenEarth1" @bind-Value="Flags.EFGEarth1">Generated Earth Cave B1</CheckBox>
			<CheckBox UpdateToolTip="@UpdateToolTipID" Id="procGenEarth2" @bind-Value="Flags.EFGEarth2">Generated Earth Cave B2</CheckBox>
			<div class="checkbox-cell"></div>
			<CheckBox UpdateToolTip="@UpdateToolTipID" Id="pacifistModeCheckBox" IsEnabled="@(!Flags.SpookyFlag)" @bind-Value="Flags.PacifistMode">Pacifist Bosses</CheckBox>
			<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="magisizeWeaponsCheckBox" @bind-Value="Flags.MagisizeWeapons">All Weapons Cast Spells</TriStateCheckBox>
			<TriStateCheckBox Indent UpdateToolTip="@UpdateToolTipID" Id="magisizeWeaponsBalancedCheckBox" IsEnabled="@Flags.MagisizeWeapons" @bind-Value="Flags.MagisizeWeaponsBalanced">Balanced Spells</TriStateCheckBox>
			<div class="checkbox-cell"></div>
			<p>Trapped Chests</p>
			<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="trappedChestsCheckBox" @bind-Value="Flags.TrappedChests">Random Chests</TriStateCheckBox>
			<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="masaGuardianCheckBox" @bind-Value="Flags.TCMasaGuardian">WarMech, Guardian of Masamune</TriStateCheckBox>
			<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="trappedShardsCheckBox" IsEnabled="@Flags.ShardHunt" @bind-Value="Flags.TrappedShards">Trapped Shards</TriStateCheckBox>
			<div class="checkbox-cell"></div>
		</div>
		<div class="col2">
			<div class="checkbox-cell"></div>
			<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="classAsNpcFiendsCheckBox" @bind-Value="Flags.ClassAsNpcFiends">Characters gated by Fiends</TriStateCheckBox>
			<TriStateCheckBox Indent UpdateToolTip="@UpdateToolTipID" IsEnabled="@(Flags.ClassAsNpcFiends != false)" Id="classAsNpcForcedFiendsCheckBox" @bind-Value="Flags.ClassAsNpcForcedFiends">Forced Characters</TriStateCheckBox>
			<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="classAsNpcKeyNpcCheckBox" @bind-Value="Flags.ClassAsNpcKeyNPC">Characters linked to Key NPCs</TriStateCheckBox>
			<IntSlider Indent Min="0" Max="12" Step="1" DisableTooltip UpdateToolTip="@UpdateToolTipID" IsEnabled="@(Flags.ClassAsNpcKeyNPC != false)" Id="classAsNpcCountSlider" @bind-Value="@Flags.ClassAsNpcCount">Characters Count:</IntSlider>
			<TriStateCheckBox Indent UpdateToolTip="@UpdateToolTipID" IsEnabled="@(Flags.ClassAsNpcFiends != false || Flags.ClassAsNpcKeyNPC != false)" Id="classAsNpcDuplicateCheckBox" @bind-Value="Flags.ClassAsNpcDuplicate">Allow Duplicates</TriStateCheckBox>
			<TriStateCheckBox Indent UpdateToolTip="@UpdateToolTipID" IsEnabled="@(Flags.ClassAsNpcFiends != false || Flags.ClassAsNpcKeyNPC != false)" Id="classAsNpcPromoCheckBox" @bind-Value="Flags.ClassAsNpcPromotion">Promoted Classes</TriStateCheckBox>
			<div class="checkbox-cell"></div>
			<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="GuaranteedMasamuneCheckBox" IsEnabled="@(Flags.NoMasamune != true)" @bind-Value="Flags.GuaranteedMasamune">Guaranteed Endgame Masamune</TriStateCheckBox>
			<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Indent Id="SendMasamuneHomeCheckBox" IsEnabled="@((Flags.NoMasamune != true) && Flags.GuaranteedMasamune != false && Flags.IncentivizeMasamune == false)" @bind-Value="Flags.SendMasamuneHome">Send Masamune Home</TriStateCheckBox>
		</div>
		<div class="clear-it"></div>
		}
	</div>


	@code {
		[Parameter] public FF1Lib.FlagsViewModel Flags { get; set; }
		[Parameter] public Action<string, MouseEventArgs> UpdateToolTipID { get; set; }
		[Parameter] public bool noTabLayout { get; set; }
		[Parameter] public bool IsOpen { get; set; } = true;
	}
