@using FF1Lib;
@using static FF1Lib.FF1Rom;
@using System.IO;
@inject IJSRuntime JSRuntime

<div id="Experimental" class="tabcontent framed-content clearfix @(noTabLayout ? "no-tab" : "") @(IsOpen ? "" : "collapsed")">
	<h3 class="@(IsOpen ? "" : "h3-collapsed")"><a class="@(noTabLayout ? "collapsible-header" : "")" @onclick="(() => IsOpen = (!noTabLayout || !IsOpen))">Experimental Beta Flags</a></h3>
	@if (IsOpen)
	{
		<p>Test out features from 2000 years in the future - at your own risk!</p>
		<div class="col1">
			<CheckBox UpdateAction="@UpdateAction" IsEnabled="@((Flags.Treasures != false) && !Flags.Archipelago)" Id="OpenChestsInOrder" @bind-Value="Flags.OpenChestsInOrder">Open Chests in Order</CheckBox>
			<EnumDropDown UpdateAction="@UpdateAction" Id="AdvancedEncounterRNGDropDown" TItem="AdvancedEncounterRNG" @bind-Value="Flags.AdvancedEncounterRNG">Advanced Encounter RNG</EnumDropDown>
			<TriStateCheckBox UpdateAction="@UpdateAction" Indent Id="EarlyEncounterCheckBox" IsEnabled="@(Flags.AdvancedEncounterRNG == AdvancedEncounterRNG.Curated || Flags.AdvancedEncounterRNG == AdvancedEncounterRNG.Random)" @bind-Value="Flags.EarlyEncounter">Early Encounter</TriStateCheckBox>
			<TriStateCheckBox UpdateAction="@UpdateAction" Indent Id="EarlyLongRunCheckBox" IsEnabled="@(Flags.AdvancedEncounterRNG == AdvancedEncounterRNG.Curated || Flags.AdvancedEncounterRNG == AdvancedEncounterRNG.Random)" @bind-Value="Flags.EarlyLongRun">Early Long Run</TriStateCheckBox>
			<IntSlider UpdateAction="@UpdateAction" Indent DisableToolTip Id="MaxEarlyStepsSlider" IsEnabled="@(Flags.AdvancedEncounterRNG == AdvancedEncounterRNG.Curated || Flags.AdvancedEncounterRNG == AdvancedEncounterRNG.Random)" @bind-Value="Flags.MaxEarlySteps" Min="4" Max="16" Step="1">Max Early Steps:</IntSlider>
			<DoubleSlider DontShowPercent DisableTooltip  UpdateAction="@UpdateAction" Indent Id="EarlyLongRunDoubleSlider" IsEnabled="@(Flags.AdvancedEncounterRNG == AdvancedEncounterRNG.Curated || Flags.AdvancedEncounterRNG == AdvancedEncounterRNG.Random)" @bind-ValuesRange="(Flags.RunLengthLow,Flags.RunLengthHigh)" MinValue="32" MaxValue="128" Step="4">Run Steps:</DoubleSlider>
			<EnumDropDown UpdateAction="@UpdateAction" Indent Id="EncounterSpacingDropDown" IsEnabled="@(Flags.AdvancedEncounterRNG == AdvancedEncounterRNG.Curated || Flags.AdvancedEncounterRNG == AdvancedEncounterRNG.Random)" TItem="EncounterSpacing" @bind-Value="Flags.EncounterSpacing">Encounter Spacing:</EnumDropDown>
			<TriStateCheckBox UpdateAction="@UpdateAction" Id="ArmorResistsDamageTileDamageCheckBox" @bind-Value="Flags.ArmorResistsDamageTileDamage" IsEnabled="!Flags.ArmorCrafter">Armor Resists Damage Tiles</TriStateCheckBox>
			<TriStateCheckBox UpdateAction="@UpdateAction" Id="shuffleLavaTiles" @bind-Value="Flags.ShuffleLavaTiles">Shuffle Lava Tiles</TriStateCheckBox>
			<TriStateCheckBox UpdateAction="@UpdateAction" Id="addDamageTiles" @bind-Value="Flags.AddDamageTiles">Add Damage Tiles</TriStateCheckBox>
			<TriStateCheckBox UpdateAction="@UpdateAction" Indent Id="damageTilesTowns" IsEnabled=@Flags.AddDamageTiles @bind-Value="Flags.DamageTilesTowns">Towns</TriStateCheckBox>
			<TriStateCheckBox UpdateAction="@UpdateAction" Indent Id="damageTilesCastles" IsEnabled=@Flags.AddDamageTiles @bind-Value="Flags.DamageTilesCastles">Castles</TriStateCheckBox>
			<TriStateCheckBox UpdateAction="@UpdateAction" Indent Id="damageTilesDungeons" IsEnabled=@Flags.AddDamageTiles @bind-Value="Flags.DamageTilesDungeons">Dungeons</TriStateCheckBox>
			<TriStateCheckBox UpdateAction="@UpdateAction" Indent Id="damageTilesCaves" IsEnabled=@Flags.AddDamageTiles @bind-Value="Flags.DamageTilesCaves">Caves</TriStateCheckBox>
			<TriStateCheckBox UpdateAction="@UpdateAction" Indent Id="damageTilesTof" IsEnabled=@Flags.AddDamageTiles @bind-Value="Flags.DamageTilesTof">Temple of Fiends</TriStateCheckBox>
			<EnumDropDown UpdateAction="@UpdateAction" Indent Id="damageTilesQuantity" IsEnabled=@Flags.AddDamageTiles TItem="DamageTilesQuantity" @bind-Value="Flags.DamageTilesQuantity">Quantity:</EnumDropDown>

			<div class="checkbox-cell"></div>
		</div>
		<div class="col2">
			<TriStateCheckBox UpdateAction="@UpdateAction" Id="procGenEarth" @bind-Value="Flags.ProcgenEarth">Generated Earth Cave</TriStateCheckBox>
            <EnumDropDown UpdateAction="@UpdateAction" Id="procGenSkyBridge" TItem="ProcgenSkyBridgeMode" @bind-Value="Flags.ProcgenSkyBridge">Generated Sky 5F Mode</EnumDropDown>
			<EnumDropDown UpdateAction="@UpdateAction" Id="procGenWaterfall" TItem="ProcgenWaterfallMode" @bind-Value="Flags.ProcgenWaterfall">Generated Waterfall</EnumDropDown>
			<EnumDropDown UpdateAction="@UpdateAction" Indent Id="procGenWaterfallDensity" IsEnabled="@(Flags.ProcgenWaterfall != ProcgenWaterfallMode.Off)" TItem="ProcgenWaterfallDensity" @bind-Value="Flags.ProcgenWaterfallDensity">Path Density</EnumDropDown>
			<EnumDropDown UpdateAction="@UpdateAction" Indent Id="procGenWaterfallEntrance" IsEnabled="@(Flags.ProcgenWaterfall != ProcgenWaterfallMode.Off)" TItem="ProcgenWaterfallEntrance" @bind-Value="Flags.ProcgenWaterfallEntrance">Entrance Placement</EnumDropDown>
			<EnumDropDown UpdateAction="@UpdateAction" Indent Id="procGenWaterfallHallway" IsEnabled="@(Flags.ProcgenWaterfall == ProcgenWaterfallMode.Linear)" TItem="ProcgenWaterfallHallwayLength" @bind-Value="Flags.ProcgenWaterfallHallwayLength">Long Hallway Length</EnumDropDown>
			<TriStateCheckBox UpdateAction="@UpdateAction" Indent Id="procGenWaterfallNoLoops" IsEnabled="@(Flags.ProcgenWaterfall != ProcgenWaterfallMode.Off)" @bind-Value="Flags.ProcgenWaterfallNoLoops">Avoid Loops</TriStateCheckBox>
			<CheckBox UpdateAction="@UpdateAction" Indent Id="procGenWaterfallSpoiler" IsEnabled="@(Flags.ProcgenWaterfall != ProcgenWaterfallMode.Off)" @bind-Value="Flags.ProcgenWaterfallSpoiler">Generate Spoiler</CheckBox>
			<CheckBox UpdateAction="@UpdateAction" Id="intAffectsSpellsCheckBox" @bind-Value="Flags.IntAffectsSpells">INT Affects Spells</CheckBox>
			<div class="checkbox-cell"></div>
		</div>

  	<div class="clear-it"></div>
	}
</div>

@code {
	[Parameter] public FF1Lib.Flags Flags { get; set; }
	[Parameter] public Action<string, MouseEventArgs> UpdateToolTipID { get; set; }
	[Parameter]	public Action<string, string> UpdateAction { get; set; }
	[Parameter] public bool noTabLayout { get; set; }
	[Parameter] public bool IsOpen { get; set; } = true;

	async Task OnImportResourcePack(ChangeEventArgs e)
	{
		try
		{
			var content = await JSRuntime.InvokeAsync<string>("handleFileSelect", "importResourcePackInput");
			if (content == null || content == "") { return; }
			using (var stream = new MemoryStream(Convert.FromBase64String(content)))
			{
				Flags.LoadResourcePackFlags(stream);
			}
			Flags.ResourcePack = content;
		}
		catch (Exception x)
		{
			Console.WriteLine(x.ToString());
		}
		StateHasChanged();
	}

}
