@using FF1Lib;
@using static FF1Lib.FF1Rom;
@using System.IO;
@inject IJSRuntime JSRuntime

<div id="Experimental" class="tabcontent framed-content clearfix @(noTabLayout ? "no-tab" : "") @(IsOpen ? "" : "collapsed")">
	<h3 class="@(IsOpen ? "" : "h3-collapsed")"><a class="@(noTabLayout ? "collapsible-header" : "")" @onclick="(() => IsOpen = (!noTabLayout || !IsOpen))">Experimental Beta Flags</a></h3>
	@if (IsOpen)
	{
		<p>Test out features from 2000 years in the future - at your own risk!</p>
		<div class="col1">
			<CheckBox UpdateToolTip="@UpdateToolTipID" IsEnabled="@((Flags.Treasures != false) && !Flags.Archipelago)" Id="OpenChestsInOrder" @bind-Value="Flags.OpenChestsInOrder">Open Chests in Order</CheckBox>
			<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="ArmorResistsDamageTileDamageCheckBox" @bind-Value="Flags.ArmorResistsDamageTileDamage" IsEnabled="!Flags.ArmorCrafter">Armor Resists Damage Tiles</TriStateCheckBox>
			<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="shuffleLavaTiles" @bind-Value="Flags.ShuffleLavaTiles">Shuffle Lava Tiles</TriStateCheckBox>
			<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="addDamageTiles" @bind-Value="Flags.AddDamageTiles">Add Damage Tiles</TriStateCheckBox>
			<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Indent Id="damageTilesTowns" IsEnabled=@Flags.AddDamageTiles @bind-Value="Flags.DamageTilesTowns">Towns</TriStateCheckBox>
			<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Indent Id="damageTilesCastles" IsEnabled=@Flags.AddDamageTiles @bind-Value="Flags.DamageTilesCastles">Castles</TriStateCheckBox>
			<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Indent Id="damageTilesDungeons" IsEnabled=@Flags.AddDamageTiles @bind-Value="Flags.DamageTilesDungeons">Dungeons</TriStateCheckBox>
			<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Indent Id="damageTilesCaves" IsEnabled=@Flags.AddDamageTiles @bind-Value="Flags.DamageTilesCaves">Caves</TriStateCheckBox>
			<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Indent Id="damageTilesTof" IsEnabled=@Flags.AddDamageTiles @bind-Value="Flags.DamageTilesTof">Temple of Fiends</TriStateCheckBox>
			<EnumDropDown UpdateToolTip="@UpdateToolTipID" Indent Id="damageTilesQuantity" IsEnabled=@Flags.AddDamageTiles TItem="DamageTilesQuantity" @bind-Value="Flags.DamageTilesQuantity">Quantity:</EnumDropDown>

			<div class="checkbox-cell"></div>
		</div>
		<div class="col2">
			<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="procGenEarth" @bind-Value="Flags.ProcgenEarth">Generated Earth Cave</TriStateCheckBox>
			<CheckBox UpdateToolTip="@UpdateToolTipID" Id="intAffectsSpellsCheckBox" @bind-Value="Flags.IntAffectsSpells">INT Affects Spells</CheckBox>
			<CheckBox UpdateToolTip="@UpdateToolTipID" Id="repeatedHealPotionUseCheckBox" @bind-Value="Flags.RepeatedHealPotionUse">Repeated Heal Potion Use</CheckBox>
			<div class="checkbox-cell"></div>
		</div>

  	<div class="clear-it"></div>
	}
</div>

@code {
	[Parameter] public FF1Lib.FlagsViewModel Flags { get; set; }
	[Parameter] public Action<string, MouseEventArgs> UpdateToolTipID { get; set; }
	[Parameter] public bool noTabLayout { get; set; }
	[Parameter] public bool IsOpen { get; set; } = true;

	async Task OnImportResourcePack(ChangeEventArgs e)
	{
		try
		{
			var content = await JSRuntime.InvokeAsync<string>("handleFileSelect", "importResourcePackInput");
			if (content == null || content == "") { return; }
			using (var stream = new MemoryStream(Convert.FromBase64String(content)))
			{
				Flags.LoadResourcePackFlags(stream);
			}
			Flags.ResourcePack = content;
		}
		catch (Exception x)
		{
			Console.WriteLine(x.ToString());
		}
		StateHasChanged();
	}

}
