@using FF1Lib;
@using RomUtilities;
@using FF1Lib.Procgen;
@inject IJSRuntime JSRuntime
@using Newtonsoft.Json;

	<div id="Overworld" class="tabcontent framed-content clearfix @(noTabLayout ? "no-tab" : "") @(IsOpen ? "" : "collapsed")">
		<h3 class="@(IsOpen ? "" : "h3-collapsed")"><a class="@(noTabLayout ? "collapsible-header" : "")" @onclick="(() => IsOpen = (!noTabLayout || !IsOpen))">Overworld</a></h3>
		@if (IsOpen)
		{
	<div class="col1">
		<EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="owMapExchange" TItem="OwMapExchanges" IsEnabled="Flags.SanityCheckerV2" @bind-Value="Flags.OwMapExchange">Overworld map to use:</EnumDropDown>
		<p>@StatusMessage</p>
		<br>

		<h4>Map generation parameters</h4>
		Map generation seed:
		<br>
		<input type="text" style="width: calc(100% - 160px);" class="nes-input @(_mapgenSeedInputClass)" id="mapgenSeedInput"
		@onchange="@OnSeedInputChanged" value="@(_mapgenSeed)"
		disabled="@(Flags.OwMapExchange != OwMapExchanges.Desert && Flags.OwMapExchange != OwMapExchanges.GenerateNewOverworld)" />
		<a class='styled-button @((Flags.OwMapExchange == OwMapExchanges.Desert || Flags.OwMapExchange == OwMapExchanges.GenerateNewOverworld) ? "" : "disabled-button")' @onclick="@OnNewSeed">New</a>
		<a class='styled-button @((Flags.OwMapExchange == OwMapExchanges.Desert || Flags.OwMapExchange == OwMapExchanges.GenerateNewOverworld) ? "" : "disabled-button")' @onclick="@OnClearSeed">Clear</a>
		<br>
		<br>
		<a class='styled-button @((Flags.OwMapExchange == OwMapExchanges.Desert || Flags.OwMapExchange == OwMapExchanges.GenerateNewOverworld) ? "" : "disabled-button")' @onclick="@OnGenerateMap">Generate Map</a>
		<a class='styled-button @(Flags.ReplacementMap != null && Flags.ReplacementMap.DecompressedMapRows != null ? "" : "disabled-button")' @onclick="@OnExportMap">Export Map</a>
		<br>
		<br>
		<h4>Import Custom Map</h4>
		<input type="file" id="importMapInput" accept=".json" @onchange="@OnImportMap" />
	</div>

	<div class="col2">
		<h4>Vanilla overworld edits</h4>
		<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="mapOpenProgressionCheckBox"
		IsEnabled="@(Flags.OwMapExchange == OwMapExchanges.None)"
		@bind-Value="Flags.MapOpenProgression">Early Open Progression</TriStateCheckBox>

		<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="mapOpenProgressionDwavesNWCheckBox"
		IsEnabled="@(Flags.MapOpenProgression == true && Flags.OwMapExchange == OwMapExchanges.None)" Indent @bind-Value="Flags.MapDwarvesNorthwest">Extended Open Progression</TriStateCheckBox>

		<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="mapOpenProgressionDocksCheckBox"
		IsEnabled="@(Flags.OwMapExchange == OwMapExchanges.None)"
		@bind-Value="Flags.MapOpenProgressionDocks">Northern Docks</TriStateCheckBox>

		<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="mapOpenProgressionFloaterDockCheckBox"
		IsEnabled="@(Flags.MapOpenProgression == true && Flags.OwMapExchange == OwMapExchanges.None)" @bind-Value="Flags.MapAirshipDock">Ryukahn Desert Dock</TriStateCheckBox>

		<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="bahamutCardiaDockCheckBox"
		IsEnabled="@(Flags.OwMapExchange == OwMapExchanges.None)"
		@bind-Value="Flags.MapBahamutCardiaDock">Bahamut Cardia Dock</TriStateCheckBox>

		<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="lefeinRiverDockCheckBox"
		IsEnabled="@(Flags.OwMapExchange == OwMapExchanges.None)"
		@bind-Value="Flags.MapLefeinRiver">Lefein River Dock</TriStateCheckBox>

		<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="gaiaMountainPassCheckBox"
		IsEnabled="@(Flags.OwMapExchange == OwMapExchanges.None)"
		@bind-Value="Flags.MapGaiaMountainPass">Gaia Mountain Pass</TriStateCheckBox>
		<div class="checkbox-cell"></div>

		<div class="clear-it"></div>
		</div>
		}
	</div>


	@code {
		[Parameter] public FF1Lib.FlagsViewModel Flags { get; set; }
		[Parameter] public Action<string, MouseEventArgs> UpdateToolTipID { get; set; }
		[Parameter] public bool noTabLayout { get; set; }
		[Parameter] public bool IsOpen { get; set; } = true;

		private string _mapgenSeed;
		private string _mapgenSeedInputClass = "";
		private string StatusMessage = "";

		protected override void OnInitialized()
		{
			_mapgenSeed = $"{Flags.MapGenSeed,8:X8}";
		}

		void OnNewSeed(MouseEventArgs e)
		{
			if (Flags.OwMapExchange != OwMapExchanges.GenerateNewOverworld && Flags.OwMapExchange != OwMapExchanges.Desert) {
				return;
			}
			ValidateSeed(Blob.Random(4).ToHex());
			StateHasChanged();
		}

		void OnClearSeed(MouseEventArgs e)
		{
			if (Flags.OwMapExchange != OwMapExchanges.GenerateNewOverworld && Flags.OwMapExchange != OwMapExchanges.Desert) {
				return;
			}
			ValidateSeed("00000000");
			StateHasChanged();
		}

		void OnSeedInputChanged(ChangeEventArgs e)
		{
			ValidateSeed((string)e.Value);
		}

		void OnGenerateMap(MouseEventArgs e) {
			if (Flags.OwMapExchange != OwMapExchanges.GenerateNewOverworld && Flags.OwMapExchange != OwMapExchanges.Desert) {
				return;
			}
			if (Flags.MapGenSeed == 0) {
				ValidateSeed(Blob.Random(4).ToHex());
			}
			StatusMessage = "Generating new map, this may take some time...";
			StateHasChanged();
			var maprng = new MT19337((uint)Flags.MapGenSeed);
			try {
			        switch (Flags.OwMapExchange) {
				case OwMapExchanges.GenerateNewOverworld:
				case OwMapExchanges.GenerateNewOverworldShuffledAccess:
				case OwMapExchanges.GenerateNewOverworldShuffledAccessUnsafe:
				case OwMapExchanges.LostWoods:
					Flags.ReplacementMap = NewOverworld.GenerateNewOverworld(maprng, Flags.OwMapExchange);
					break;
				case OwMapExchanges.Desert:
					Flags.ReplacementMap = DesertOfDeath.GenerateDesert(maprng);
					break;
				}

				StatusMessage = $"Success! checksum {Flags.ReplacementMap.ComputeChecksum()}";
			} catch (Exception x)
			{
				StatusMessage = x.Message;
				Console.WriteLine(x.ToString());
			}
			StateHasChanged();
		}

		void ValidateSeed(string seed)
		{
			if (seed == _mapgenSeed)
				return;

			if (seed.Length > 8)
			{
				_mapgenSeedInputClass = "is-error";
				return;
			}

			Flags.ReplacementMap = null;
			StatusMessage = "";

			_mapgenSeed = seed;
			try
			{
				var blb = Blob.FromHex(_mapgenSeed);
				Flags.MapGenSeed = ((blb[0]&0x7F) << 24) | (blb[1] << 16) | (blb[2] << 8) | blb[3];
				_mapgenSeed = _mapgenSeed = $"{Flags.MapGenSeed,8:X8}";
				_mapgenSeedInputClass = "";
			}
			catch (Exception)
			{
				_mapgenSeedInputClass = "is-error";
			}
		}

		async Task OnImportMap(ChangeEventArgs e) {
		  try {
                    Flags.OwMapExchange = OwMapExchanges.ImportCustomMap;
		    var content = await JSRuntime.InvokeAsync<string>("handleFileSelect", "importMapInput");
		    if (content == null || content == "") { return; }
                    var fileData = Convert.FromBase64String(content);
		    Flags.ReplacementMap = JsonConvert.DeserializeObject<OwMapExchangeData>(System.Text.Encoding.UTF8.GetString(fileData));
		    Flags.MapGenSeed = Flags.ReplacementMap.Seed;
		    _mapgenSeed = $"{Flags.MapGenSeed,8:X8}";

		    var checksum = Flags.ReplacementMap.ComputeChecksum();
		    if (checksum != Flags.ReplacementMap.Checksum) {
		      throw new Exception("Checksum did not match");
		    }

		    StatusMessage = $"Successfully imported map, checksum {Flags.ReplacementMap.Checksum}";
		  } catch (Exception x) {
			   StatusMessage = x.Message;
			   Console.WriteLine(x.ToString());
		  }
		  StateHasChanged();
		}


		async Task OnExportMap(MouseEventArgs e) {
		     if (Flags.ReplacementMap == null || Flags.ReplacementMap.DecompressedMapRows == null) {
		       return;
		     }

		     Flags.ReplacementMap.Checksum = Flags.ReplacementMap.ComputeChecksum();
		     Flags.ReplacementMap.Seed = Flags.MapGenSeed;
		     Flags.ReplacementMap.FFRVersion = FF1Lib.FFRVersion.Version;

		     var content = JsonConvert.SerializeObject(Flags.ReplacementMap, Formatting.Indented);
                     var fileData = Convert.ToBase64String(System.Text.Encoding.UTF8.GetBytes(content));
		     await JSRuntime.InvokeVoidAsync("downloadFile", $"FFR_map_{Flags.ReplacementMap.Checksum}.json", fileData);
		}
	}
