@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@using FF1Lib;
@using System.IO;

<div id="presets" class="tabcontent framed-content clearfix @(noTabLayout ? "no-tab" : "") @(IsOpen ? "" : "collapsed")">
	<h3 class="@(IsOpen ? "" : "h3-collapsed")"><a class="@(noTabLayout ? "collapsible-header" : "")" @onclick="(() => IsOpen = (!noTabLayout || !IsOpen))">Start a Game</a></h3>
	@if (IsOpen)
	{
		<h4>Starter Presets</h4>
		<p>These presets showcase some of the major game variations, while also designed to be accessible to newer players.  When you are ready for more challenge, try the Intermediate presets, or browse the tabs to start customizing your own game.<br>
		Questions?  Join the <a href="https://discord.gg/5kTRT4AyvT">FFR Community Discord</a>.</p>

		<div class="col1">

		<a class="preset-button styled-button @((selectedPresetId == "Beginner") ? "clicked" : "")" @onclick="@(() => LoadStandardPreset("Beginner"))">Select</a>
		<p class="preset-paragraph">
		<ToolTipBox id="beginnerPresetToolTipBox" UpdateAction="@UpdateAction"><strong>Beginner</strong></ToolTipBox>
		Introduction to the randomizer, and the basis for most of the other presets.</p>

		<a class="preset-button styled-button @((selectedPresetId == "Oops_All_Loose") ? "clicked" : "")" @onclick="@(() => LoadStandardPreset("Oops_All_Loose"))">Select</a>
		<p class="preset-paragraph">
		<ToolTipBox id="oopsAllLooseToolTipBox" UpdateAction="@UpdateAction"><strong>Oops, All Loose!</strong></ToolTipBox>
		All key items are loose, which means they can be found in any chest.
		</p>

		<a class="preset-button styled-button @((selectedPresetId == "Shard_Hunt") ? "clicked" : "")" @onclick="@(() => LoadStandardPreset("Shard_Hunt"))">Select</a>
		<p class="preset-paragraph">
		<ToolTipBox id="shardHuntPresetToolTipBox" UpdateAction="@UpdateAction"><strong>Shard Hunt</strong></ToolTipBox>
		Instead of lighting 4 Orbs, you must find 28 Shards to unlock the Temple of Fiends.
		</p>

		<a class="preset-button styled-button @((selectedPresetId == "Floaterless") ? "clicked" : "")" @onclick="@(() => LoadStandardPreset("Floaterless"))">Select</a>
		<p class="preset-paragraph">
		<ToolTipBox id="floaterlessPresetToolTipBox" UpdateAction="@UpdateAction"><strong>Floaterless</strong></ToolTipBox>
		Removes the Floater from the game, so you can't get the airship, but adds new docks so you can get everywhere you need to go.
		</p>

		</div>

		<div class="col2">

		<a class="preset-button styled-button @((selectedPresetId == "Improved_Vanilla") ? "clicked" : "")" @onclick="@(() => LoadStandardPreset("Improved_Vanilla"))">Select</a>
		<p class="preset-paragraph">
		<ToolTipBox id="improvedVanillaPresetToolTipBox" UpdateAction="@UpdateAction"><strong>Improved Vanilla</strong></ToolTipBox>
		Applies the bugfixes and quality-of-life improvements to the base game, but does not randomize anything.
		</p>

		<a class="preset-button styled-button @((selectedPresetId == "Entrance_Floor_Shuffle") ? "clicked" : "")" @onclick="@(() => LoadStandardPreset("Entrance_Floor_Shuffle"))">Select</a>
		<p class="preset-paragraph">
		<ToolTipBox id="entranceFloorShufflePresetToolTipBox" UpdateAction="@UpdateAction"><strong>Entrance and Floor Shuffle</strong></ToolTipBox>
		Overworld entrances (except for towns) are shuffled together, as are cave and dungeon floors.
		</p>

		<a class="preset-button styled-button @((selectedPresetId == "Procgen_Overworld") ? "clicked" : "")" @onclick="@(() => LoadStandardPreset("Procgen_Overworld"))">Select</a>
		<p class="preset-paragraph">
		<ToolTipBox id="procgenOWPresetToolTipBox" UpdateAction="@UpdateAction"><strong>Procedurally Generated Overworld</strong></ToolTipBox>
		Explore a completely new, randomly generated overworld.
		</p>

		</div>

		<div class="col1 full">
		<h4>Intermediate Presets</h4>
		<p>For players looking for more challenge.</p>
		</div>

		<div class="col1">

		<a class="preset-button styled-button @((selectedPresetId == "Chaos_Rush") ? "clicked" : "")" @onclick="@(() => LoadStandardPreset("Chaos_Rush"))">Select</a>
		<p class="preset-paragraph">
		<ToolTipBox id="chaosRushToolTipBox" UpdateAction="@UpdateAction"><strong>Chaos Rush</strong></ToolTipBox>
		You can enter the final dungeon immediately at the start of the game.
		</p>

		<a class="preset-button styled-button @((selectedPresetId == "Free_Enterprise") ? "clicked" : "")" @onclick="@(() => LoadStandardPreset("Free_Enterprise"))">Select</a>
		<p class="preset-paragraph">
		<ToolTipBox id="freeEnterpriseToolTipBox" UpdateAction="@UpdateAction"><strong>Free Enterprise</strong>
		</ToolTipBox>
		All bosses rush modeled after the open world gameplay style of <a href="http://ff4fe.com/">FF4: Free Enterprise</a>.
		</p>

		<a class="preset-button styled-button @((selectedPresetId == "Hidden_Chaos") ? "clicked" : "")" @onclick="@(() => LoadStandardPreset("Hidden_Chaos"))">Select</a>
		<p class="preset-paragraph">
		<ToolTipBox id="hiddenChaosToolTipBox" UpdateAction="@UpdateAction"><strong>Hidden Chaos</strong></ToolTipBox>
		Chaos is hidden in a random chest and must be found to be defeated.
		</p>

		<a class="preset-button styled-button @((selectedPresetId == "NOverworld") ? "clicked" : "")" @onclick="@(() => LoadStandardPreset("NOverworld"))">Select</a>
		<p class="preset-paragraph">
		<ToolTipBox id="noverworldShufflePresetToolTipBox" UpdateAction="@UpdateAction"><strong>NOverworld</strong></ToolTipBox>
		Removes the overworld from the game - towns and dungeons are connected directly by stairs and warps.
		</p>

		</div>
		<div class="col2">

		<a class="preset-button styled-button @((selectedPresetId == "Deep_Dungeon") ? "clicked" : "")" @onclick="@(() => LoadStandardPreset("Deep_Dungeon"))">Select</a>
		<p class="preset-paragraph">
		<ToolTipBox id="deepDungeonPresetToolTipBox" UpdateAction="@UpdateAction"><strong>Deep Dungeon</strong></ToolTipBox>
		Turn Coneria Castle into a 52-floor completely procedurally generated dungeon, leading to Chaos.
		</p>

		<a class="preset-button styled-button @((selectedPresetId == "Over_Randomizer") ? "clicked" : "")" @onclick="@(() => LoadStandardPreset("Over_Randomizer"))">Select</a>
		<p class="preset-paragraph">
		<ToolTipBox id="overRandomizerToolTipBox" UpdateAction="@UpdateAction"><strong>Over Randomizer</strong></ToolTipBox>
		The randomizer will give you entirely new weapons, armor, spells, enemies, and bosses.
		</p>

		<a class="preset-button styled-button @((selectedPresetId == "Lichs_Revenge") ? "clicked" : "")" @onclick="@(() => LoadStandardPreset("Lichs_Revenge"))">Select</a>
		<p class="preset-paragraph">
		<ToolTipBox id="lichRevengePresetCheckBox" UpdateAction="@UpdateAction"><strong>Lich's Revenge</strong></ToolTipBox>
		Lich is having his revenge, unleashing his undead hordes upon the world!
		</p>

		</div>


		<div class="col1 full">
		<h4>Winter Tournament 2025 Presets</h4>

		<div class="col1">

		<a class="preset-button styled-button @((selectedPresetId == "wt2025quals") ? "clicked" : "")" @onclick="@(() => LoadStandardPreset("wt2025quals"))">Select</a>
		<p class="preset-paragraph">
		<label><strong>Qualifiers</strong></label><br>
		</p>

		<a class="preset-button styled-button @((selectedPresetId == "wt2025r64") ? "clicked" : "")" @onclick="@(() => LoadStandardPreset("wt2025r64"))">Select</a>
		<p class="preset-paragraph">
		<label><strong>Round of 64</strong></label><br>
		</p>

			<a class="preset-button styled-button @((selectedPresetId == "wt2025r32") ? "clicked" : "")" @onclick="@(() => LoadStandardPreset("wt2025r32"))">Select</a>
			<p class="preset-paragraph">
				<label><strong>Round of 32</strong></label><br>
			</p>

			<a class="preset-button styled-button @((selectedPresetId == "wt2025r16") ? "clicked" : "")" @onclick="@(() => LoadStandardPreset("wt2025r16"))">Select</a>
			<p class="preset-paragraph">
				<label><strong>Round of 16</strong></label><br>
			</p>
		</div>

			<div class="col2">


			<a class="preset-button styled-button @((selectedPresetId == "wt2025r8") ? "clicked" : "")" @onclick="@(() => LoadStandardPreset("wt2025r8"))">Select</a>
			<p class="preset-paragraph">
				<label><strong>Round of 8</strong></label><br>
			</p>

			<a class="preset-button styled-button @((selectedPresetId == "wt2025qfinals") ? "clicked" : "")" @onclick="@(() => LoadStandardPreset("wt2025qfinals"))">Select</a>
			<p class="preset-paragraph">
				<label><strong>Quarterfinals</strong></label><br>
			</p>

			<a class="preset-button styled-button @((selectedPresetId == "wt2025sfinals") ? "clicked" : "")" @onclick="@(() => LoadStandardPreset("wt2025sfinals"))">Select</a>
			<p class="preset-paragraph">
				<label><strong>Semifinals</strong></label><br>
			</p>

			<a class="preset-button styled-button @((selectedPresetId == "Winter_Tournament_2024") ? "clicked" : "")" @onclick="@(() => LoadStandardPreset("Winter_Tournament_2024"))">Select</a>
			<p class="preset-paragraph">
				<label><strong>Finals</strong></label><br>
			</p>

			</div>
        </div>

		<div class="col1 full">
		<h4>User Presets</h4>
		<p>
			@foreach (var preset in localPresets)
			{
				<span style="white-space:nowrap" @key="preset" class="oneline">
					<a class="preset-button styled-button @((selectedPresetId == @preset) ? "clicked" : "")" @onclick="@(() => LoadLocalPreset(@preset))">@preset</a>
					<a class="preset-button styled-button preset-close" @onclick="@(() => DeleteLocalPreset(@preset))">X</a>
				</span>
			}
		</p>

		<p>
			Current:
			<input type="text" id="presetNameInput" @bind="presetName" />
		</p>

		<p>
			<a class="styled-button" @onclick="@(() => SavePreset(false))">Save Preset</a>
			<a class="styled-button" @onclick="@(() => SavePreset(true))">Export to JSON</a>
		</p>

		<p>
			Load from JSON:
			<input type="file" id="presetInput" accept=".json" @onchange="OnPresetChanged" /> 
		</p>

		

		</div>

		<div class="clear-it"></div>
	}
</div>


@code { [Parameter] public FF1Lib.Flags Flags { get; set; }
	[Parameter] public Action<string> SetStatusMessage { get; set; }
	[Parameter] public Action SetDefaultLoaded { get; set; }
	[Parameter] public Action<string, MouseEventArgs> UpdateToolTipID { get; set; }
	[Parameter]	public Action<string, string> UpdateAction { get; set; }
	[Parameter] public string StatusMessage { get; set; }
	[Parameter] public bool loadDefault { get; set; }
	[Parameter] public string[] localPresets { get; set; } = { };
	[Parameter] public bool noTabLayout { get; set; }
	[Parameter] public bool IsOpen { get; set; } = true;
	[Parameter] public Action<string> SetPresetName { get; set; }
	[Parameter] public string presetName { get; set; }

	private string selectedPresetId = "";

	protected override async void OnInitialized()
	{
		if (loadDefault)
		{
			var uri = new Uri(NavigationManager.Uri);
			if (!QueryHelpers.ParseQuery(uri.Query).TryGetValue("f", out var flags))
			{
				await LoadStandardPreset("default");
			}
			SetDefaultLoaded();
		}
	}

	protected override async Task OnInitializedAsync()
	{
		await UpdatePresets();
	}

	async Task UpdatePresets()
	{
		localPresets = await JSRuntime.InvokeAsync<string[]>("listLocalPresets");
	}

	async Task LoadStandardPreset(string name)
	{
		selectedPresetId = name;
		var json = await JSRuntime.InvokeAsync<string>("computePreset", name);
		LoadFromJson(json);
		UpdateAction?.Invoke("UpdateFlagstring", "");
	}

	async Task LoadLocalPreset(string name)
	{
		selectedPresetId = name;
		var json = await JSRuntime.InvokeAsync<string>("loadLocalPreset", name);
		LoadFromJson(json);
		UpdateAction?.Invoke("UpdateFlagstring", "");
	}

	public void LoadFromJson(string json)
	{
		var preset = Flags.FromJson(json);

		Flags.ReadFromFlags(preset.flags);

		if (preset.log.Any())
		{
			SetStatusMessage.Invoke("<p>" + preset.name + " was loaded with errors:</p>" + "<p>" + string.Join("</p><p>", preset.log) + "</p>");
		}
		else
		{
			SetStatusMessage.Invoke(preset.name + " preset successfully loaded.");
		}

		presetName = preset.name;
		SetPresetName(presetName);
		StateHasChanged();
	}

	async Task DeleteLocalPreset(string presetName)
	{
		await JSRuntime.InvokeAsync<string>("deleteLocalPreset", presetName);
		SetStatusMessage.Invoke(presetName + " local preset deleted.");
		await UpdatePresets();
	}

	async Task SavePreset(bool download)
	{
		System.Text.Json.JsonSerializerOptions options = new System.Text.Json.JsonSerializerOptions();
		options.IgnoreReadOnlyProperties = true;
		options.WriteIndented = true;

		Flags.Preset preset = new Flags.Preset();
		preset.Name = presetName;
		SetPresetName(presetName);
		preset.Flags = Flags;

		var json = System.Text.Json.JsonSerializer.Serialize(preset, options);
		var encoded = Convert.ToBase64String(System.Text.Encoding.UTF8.GetBytes(json));

		if (download)
		{
			await JSRuntime.InvokeAsync<object>("downloadFile", $"{presetName}.json", encoded);
		}
		else
		{
			await JSRuntime.InvokeAsync<object>("storePreset", presetName, json);
			if (localPresets.Contains(presetName))
			{
				SetStatusMessage.Invoke($"Saved preset {presetName} updated.");
			}
			else
			{
				SetStatusMessage.Invoke($"Saved {presetName} to local presets.");
			}
			await UpdatePresets();
		}
	}

	async Task OnPresetChanged(ChangeEventArgs e)
	{
		try
		{
			var json = await JSRuntime.InvokeAsync<string>("handlePresetSelect", "presetInput");

			var preset = Flags.FromJson(json);

			Flags.ReadFromFlags(preset.flags);

			if (preset.log.Any())
			{
				SetStatusMessage.Invoke("<p>" + preset.name + " was loaded from json with errors:</p>" + "<p>" + string.Join("</p><p>", preset.log) + "</p>");
			}
			else
			{
				SetStatusMessage.Invoke($"{preset.name} preset successfully loaded from json file.");
			}

			presetName = preset.name;
			SetPresetName(presetName);
			UpdateAction?.Invoke("UpdateFlagstring", "");
		}
		catch (Exception ex)
		{
			SetStatusMessage.Invoke("Preset load failed: " + ex.ToString());
		}
		StateHasChanged();
	}

		

}
