@using FF1Lib;


<div id="Shops" class="tabcontent framed-content clearfix @(noTabLayout ? "no-tab" : "") @(IsOpen ? "" : "collapsed")">
	<h3 class="@(IsOpen ? "" : "h3-collapsed")"><a class="@(noTabLayout ? "collapsible-header" : "")" @onclick="(() => IsOpen = (!noTabLayout || !IsOpen))">Shops and Magic</a></h3>
	@if (IsOpen)
	{
		<div class="col1">
			<h4>Shops</h4>
			<TriStateCheckBox UpdateAction="@UpdateAction" Id="shopsCheckBox" @bind-Value="Flags.Shops">Shop Shuffle</TriStateCheckBox>
			<TriStateCheckBox UpdateAction="@UpdateAction" Indent IsEnabled="@Flags.Shops" Id="randomWaresCheckBox" @bind-Value="Flags.RandomWares">Random Weapons and Armor</TriStateCheckBox>
			<TriStateCheckBox UpdateAction="@UpdateAction" Indent IsEnabled="@((Flags.Shops ?? true) && (Flags.RandomWares ?? true))" Id="randomWaresIncludesCheckBox" @bind-Value="Flags.RandomWaresIncludesSpecialGear">Include Caster &amp; Elite Gear</TriStateCheckBox>
			<TriStateCheckBox UpdateAction="@UpdateAction" Id="magicShopsCheckBox" @bind-Value="Flags.MagicShops">Magic Shops</TriStateCheckBox>
			<TriStateCheckBox UpdateAction="@UpdateAction" Id="magicShopLocsCheckBox" @bind-Value="Flags.MagicShopLocs">Magic Shop Locations</TriStateCheckBox>
			<TriStateCheckBox UpdateAction="@UpdateAction" Indent IsEnabled="@Flags.MagicShopLocs" Id="magicShopLocationPairsCheckBox" @bind-Value="Flags.MagicShopLocationPairs">Paired Shuffle</TriStateCheckBox>

            <div class="checkbox-cell"></div>
            <CheckBox UpdateAction="@UpdateAction" IsEnabled="@(!Flags.RecruitmentMode)" Id="improvedClinicCheckBox" @bind-Value="Flags.ImprovedClinic">Improved Clinics</CheckBox>

			<div class="checkbox-cell"></div>
            <div class="row">
			    <h4>Legendary Shops</h4>
                <ToolTipBox UpdateAction="@UpdateAction" Id="legendaryShopsGroup"></ToolTipBox>
            </div>
      <TriStateCheckBox UpdateAction="@UpdateAction" Id="legendaryWeaponShopCheckBox" @bind-Value="Flags.LegendaryWeaponShop">Legendary Weapon Shop</TriStateCheckBox>
			<CheckBox UpdateAction="@UpdateAction" Indent DisableTooltip Id="exlegendaryWeaponShopCheckBox" IsEnabled="Flags.LegendaryWeaponShop" @bind-Value="Flags.ExclusiveLegendaryWeaponShop">Exclusive</CheckBox>

      <TriStateCheckBox UpdateAction="@UpdateAction" Id="legendaryArmorShopCheckBox" @bind-Value="Flags.LegendaryArmorShop">Legendary Armor Shop</TriStateCheckBox>
			<CheckBox UpdateAction="@UpdateAction" Indent DisableTooltip Id="exlegendaryArmorShopCheckBox" IsEnabled="Flags.LegendaryArmorShop" @bind-Value="Flags.ExclusiveLegendaryArmorShop">Exclusive</CheckBox>

	    <TriStateCheckBox UpdateAction="@UpdateAction" Id="legendaryBlackShopCheckBox" @bind-Value="Flags.LegendaryBlackShop">Legendary Black Shop</TriStateCheckBox>
			<CheckBox UpdateAction="@UpdateAction" Indent DisableTooltip Id="exlegendaryBlackShopCheckBox" IsEnabled="Flags.LegendaryBlackShop" @bind-Value="Flags.ExclusiveLegendaryBlackShop">Exclusive</CheckBox>

	    <TriStateCheckBox UpdateAction="@UpdateAction" Id="legendaryWhiteShopCheckBox" @bind-Value="Flags.LegendaryWhiteShop">Legendary White Shop</TriStateCheckBox>
			<CheckBox UpdateAction="@UpdateAction" Indent DisableTooltip Id="exlegendaryWhiteShopCheckBox" IsEnabled="Flags.LegendaryWhiteShop" @bind-Value="Flags.ExclusiveLegendaryWhiteShop">Exclusive</CheckBox>

	    <TriStateCheckBox UpdateAction="@UpdateAction" Id="legendaryItemShopCheckBox" @bind-Value="Flags.LegendaryItemShop">Legendary Item Shop</TriStateCheckBox>
			<CheckBox UpdateAction="@UpdateAction" Indent DisableTooltip Id="exlegendaryItemShopCheckBox" IsEnabled="Flags.LegendaryItemShop" @bind-Value="Flags.ExclusiveLegendaryItemShop">Exclusive</CheckBox>

	    <div class="checkbox-cell"></div>
    </div>
		<div class="col2">
			<h4>Magic</h4>
			<TriStateCheckBox UpdateAction="@UpdateAction" Id="magicLevelsCheckBox" @bind-Value="Flags.MagicLevels">Shuffle Magic Levels</TriStateCheckBox>
			<TriStateCheckBox UpdateAction="@UpdateAction" Indent IsEnabled="@Flags.MagicLevels" Id="magicLevelsTieredCheckBox" @bind-Value="Flags.MagicLevelsTiered">Tiered Shuffle</TriStateCheckBox>
			<TriStateCheckBox UpdateAction="@UpdateAction" Indent IsEnabled="@Flags.MagicLevels" Id="magicLevelsMixed" @bind-Value="Flags.MagicLevelsMixed">Mix Spellbooks</TriStateCheckBox>
			<TriStateCheckBox UpdateAction="@UpdateAction" Indent IsEnabled="@Flags.MagicLevels" Id="magicPermissionsCheckBox" @bind-Value="Flags.MagicPermissions">Keep Permissions</TriStateCheckBox>
			<div class="checkbox-cell"></div>

			<h4>Balance</h4>
			<CheckBox UpdateAction="@UpdateAction" Id="cureHealBuffCheckBox" @bind-Value="Flags.BuffHealingSpells">Improve CUREs, HEALs, LAMP, AMUT spells</CheckBox>
			<CheckBox UpdateAction="@UpdateAction" Id="tier1DamageBuff" @bind-Value="Flags.BuffTier1DamageSpells">Improve FIRE, LIT, ICE, HARM spells</CheckBox>
			<EnumDropDown UpdateAction="@UpdateAction" Id="LockMode" TItem="LockHitMode" @bind-Value="Flags.LockMode">LOCK & LOK2 Mode:</EnumDropDown>
			<EnumDropDown UpdateAction="@UpdateAction" Id="magicAutohitThresholdDropDown" TItem="AutohitThreshold" @bind-Value="Flags.MagicAutohitThreshold">Power Word Threshold:</EnumDropDown>
			<CheckBox UpdateAction="@UpdateAction" Id="enableSoftInBattle" @bind-Value="Flags.EnableSoftInBattle">Enable Soft in Battle</CheckBox>
            <EnumDropDown UpdateAction="@UpdateAction" Id="lifeInBattleDropDown" TItem="LifeInBattleSetting" @bind-Value="Flags.EnableLifeInBattle">Life in Battle:</EnumDropDown>
			<h5>Sleep</h5>
			<DoubleSlider DoubleCol DisableTooltip Id="sleepDoubleSlider" UpdateAction="@UpdateAction" MinValue="0" MaxValue="255" Step="1" @bind-ValuesRange="(Flags.PlayerSleepScaleLow,Flags.PlayerSleepScaleHigh)">Player Wake HP RNG Range:</DoubleSlider>
			@* <DoubleSlider DoubleCol DisableTooltip Id="sleepDoubleSlider" UpdateAction="@UpdateAction" MinValue="0" MaxValue="255" Step="1" @bind-ValuesRange="(Flags.EnemySleepScaleLow,Flags.EnemySleepScaleHigh)">Enemy Wake HP RNG Range:</DoubleSlider> *@

			<div class="checkbox-cell"></div>
			<h4>Spell Crafter</h4>
			<TriStateCheckBox UpdateAction="@UpdateAction" Id="generateNewSpellbook" @bind-Value="Flags.GenerateNewSpellbook">Generate New Spellbooks</TriStateCheckBox>
			<TriStateCheckBox UpdateAction="@UpdateAction" Id="spellcrafterRetainPermissions" Indent IsEnabled="@Flags.GenerateNewSpellbook" @bind-Value="Flags.SpellcrafterRetainPermissions">Retain Old Permissions</TriStateCheckBox>
			<TriStateCheckBox UpdateAction="@UpdateAction" Id="spellcrafterMixSpells" Indent IsEnabled="@Flags.GenerateNewSpellbook" @bind-Value="Flags.SpellcrafterMixSpells">Mix Spellbooks</TriStateCheckBox>

			<div class="checkbox-cell"></div>
			<h4>Obfuscation</h4>
			<EnumDropDown UpdateAction="@UpdateAction" Id="spellNameMadness" TItem="SpellNameMadness" @bind-Value="Flags.SpellNameMadness">Spell Name Obfuscation:</EnumDropDown>
		</div>
		<div class="col1 full">
            <div class="row">
			    <h4>Shop Reduction</h4>
			    <ToolTipBox UpdateAction="@UpdateAction" Id="shopReductionTable"></ToolTipBox>
            </div>
			<div class="row">
				<div class="col-lg-2 tighter noleftpadding">Weapon Shops:</div>
				<div class="col-lg-4 tighter"><EnumDropDown UpdateAction="@UpdateAction" DisableTooltip TItem="ShopKillMode" @bind-Value="Flags.ShopKillMode_Weapons"></EnumDropDown></div>
				<div class="col-lg-2 tighter"><EnumDropDown UpdateAction="@UpdateAction" DisableTooltip TItem="ShopKillFactor" @bind-Value="Flags.ShopKillFactor_Weapons"></EnumDropDown></div>
				<div class="col-lg-4 tighter"><CheckBox UpdateAction="@UpdateAction" DisableTooltip @bind-Value="Flags.ShopKillExcludeConeria_Weapons">Exclude Coneria</CheckBox></div>
			</div>
			<div class="row">
				<div class="col-lg-2 tighter noleftpadding">Armor Shops:</div>
				<div class="col-lg-4 tighter"><EnumDropDown UpdateAction="@UpdateAction" DisableTooltip TItem="ShopKillMode" @bind-Value="Flags.ShopKillMode_Armor"></EnumDropDown></div>
				<div class="col-lg-2 tighter"><EnumDropDown UpdateAction="@UpdateAction" DisableTooltip TItem="ShopKillFactor" @bind-Value="Flags.ShopKillFactor_Armor"></EnumDropDown></div>
				<div class="col-lg-4 tighter"><CheckBox UpdateAction="@UpdateAction" DisableTooltip @bind-Value="Flags.ShopKillExcludeConeria_Armor">Exclude Coneria</CheckBox></div>
			</div>
			<div class="row">
				<div class="col-lg-2 tighter noleftpadding">Item Shops:</div>
				<div class="col-lg-4 tighter"><EnumDropDown UpdateAction="@UpdateAction" DisableTooltip TItem="ShopKillMode" @bind-Value="Flags.ShopKillMode_Item"></EnumDropDown></div>
				<div class="col-lg-2 tighter"><EnumDropDown UpdateAction="@UpdateAction" DisableTooltip TItem="ShopKillFactor" @bind-Value="Flags.ShopKillFactor_Item"></EnumDropDown></div>
				<div class="col-lg-4 tighter"><CheckBox UpdateAction="@UpdateAction" DisableTooltip @bind-Value="Flags.ShopKillExcludeConeria_Item">Exclude Coneria</CheckBox></div>
			</div>
			<div class="row">
				<div class="col-lg-2 tighter noleftpadding">Black Magic:</div>
				<div class="col-lg-4 tighter"><EnumDropDown UpdateAction="@UpdateAction" DisableTooltip TItem="ShopKillMode" @bind-Value="Flags.ShopKillMode_Black"></EnumDropDown></div>
				<div class="col-lg-2 tighter"><EnumDropDown UpdateAction="@UpdateAction" DisableTooltip TItem="ShopKillFactor" @bind-Value="Flags.ShopKillFactor_Black"></EnumDropDown></div>
				<div class="col-lg-4 tighter"><CheckBox UpdateAction="@UpdateAction" DisableTooltip @bind-Value="Flags.ShopKillExcludeConeria_Black">Exclude Coneria</CheckBox></div>
			</div>
			<div class="row">
				<div class="col-lg-2 tighter noleftpadding">White Magic:</div>
				<div class="col-lg-4 tighter"><EnumDropDown UpdateAction="@UpdateAction" DisableTooltip TItem="ShopKillMode" @bind-Value="Flags.ShopKillMode_White"></EnumDropDown></div>
				<div class="col-lg-2 tighter"><EnumDropDown UpdateAction="@UpdateAction" DisableTooltip TItem="ShopKillFactor" @bind-Value="Flags.ShopKillFactor_White"></EnumDropDown></div>
				<div class="col-lg-4 tighter"><CheckBox UpdateAction="@UpdateAction" DisableTooltip @bind-Value="Flags.ShopKillExcludeConeria_White">Exclude Coneria</CheckBox></div>
			</div>
			<div class="checkbox-cell"></div>
		</div>
			<div class="clear-it"></div>
			}
		</div>


		@code
{
			[Parameter] public FF1Lib.Flags Flags { get; set; }
			[Parameter] public Action<string, MouseEventArgs> UpdateToolTipID { get; set; }
			[Parameter]	public Action<string, string> UpdateAction { get; set; }
			[Parameter] public bool noTabLayout { get; set; }
			[Parameter] public bool IsOpen { get; set; } = true;
		}
