<div class="checkbox-cell @IndentClass @ValueClass">
	<input type="checkbox" id="@Id" checked="@Checked" @onchange="onchange" disabled="@(!IsEnabled)" />  <label for="@Id" class="@DisabledClass">@ChildContent</label>
	<input type="image" src="/images/help.png" class="btn-group-help" title="Show Help" @onclick="@ShowToolTip" id="@Id" />
</div>


@code
{
    [Parameter]
    public EventCallback<bool> CheckedChanged { get; set; }


    [Parameter]
    public bool Checked { get; set; }


    private string ValueClass => Checked ? "tri-yes" : "tri-no";


    private Task onchange(ChangeEventArgs e)
    {
        Checked = (bool)e.Value;
        return CheckedChanged.InvokeAsync(Checked);
    }

    private void ShowToolTip(MouseEventArgs e)
    {
        UpdateToolTip?.Invoke(Id, e);
    }

    private void HideToolTip(MouseEventArgs e)
    {
        UpdateToolTip?.Invoke("", e);
    }

    [Parameter]
    public Action<string, MouseEventArgs> UpdateToolTip { get; set; }

    [Parameter]
    public bool Indent { get; set; }
    private string IndentClass => Indent ? "indent" : "";

    [Parameter]
    public bool? IsEnabled { get; set; } = true;
    private string DisabledClass => (IsEnabled ?? true) ? "" : "disabled";

    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

}
