<div class="checkbox-cell"><input type="checkbox" class="@Class" id="@Id" onchange="@onchange"/> <label for="@Id">@ChildContent</label></div>

@functions
{
	[Parameter]
	private bool Value { get; set; }
	[Parameter]
	private Action<bool> ValueChanged { get; set; }

	[Parameter]
	private bool Indent { get; set; }
	private string Class => Indent ? "indent" : "";

	void onchange(UIChangeEventArgs e)
	{
		Value = (bool)e.Value;
		ValueChanged(Value);
	}

	[Parameter]
	private string Id { get; set; }

	[Parameter]
	private RenderFragment ChildContent { get; set; }

}
