<div class="checkbox-cell @IndentClass @ValueClass">
	<input type="checkbox" id="@Id" checked="@Value" onchange="@onchange" disabled="@(!IsEnabled)" />  <label for="@Id" class="@DisabledClass">@ChildContent</label>
	<input type="image" src="/images/help.png" class="btn-group-help" title="Show Help" onclick="@ShowToolTip" id="@Id" />
</div>


@functions
{
[Parameter]
private bool Value { get; set; }
private string ValueClass => Value ? "tri-yes" : "tri-no";

[Parameter]
private Action<bool> ValueChanged { get; set; }
void onchange(UIChangeEventArgs e)
{
	Value = (bool)e.Value;
	ValueChanged(Value);
}

private void ShowToolTip(UIMouseEventArgs e)
{
	UpdateToolTip?.Invoke(Id, e);
}

private void HideToolTip(UIMouseEventArgs e)
{
	UpdateToolTip?.Invoke("", e);
}

[CascadingParameter]
protected string ToolTipId { get; set; }
[Parameter]
protected Action<string, UIMouseEventArgs> UpdateToolTip { get; set; }

[Parameter]
private bool Indent { get; set; }
private string IndentClass => Indent ? "indent" : "";

[Parameter]
private bool? IsEnabled { get; set; } = true;
private string DisabledClass => (IsEnabled ?? true) ? "" : "disabled";

[Parameter]
private string Id { get; set; }

[Parameter]
private RenderFragment ChildContent { get; set; }

}
