@if (Indent)
	{
		<span class="indent"></span>
	}
<label for="@Id" onclick="ShowToolTip" onmouseover="@ShowToolTip" onmouseout="@HideToolTip" class="@DisabledClass">@ChildContent</label>


@functions
{
	private void ShowToolTip(UIMouseEventArgs e)
	{
		UpdateToolTip?.Invoke(Id, e);
	}

	private void HideToolTip(UIMouseEventArgs e)
	{
		UpdateToolTip?.Invoke("", e);
	}

	[CascadingParameter]
	protected string ToolTipId { get; set; }
	[Parameter]
	protected Action<string, UIMouseEventArgs> UpdateToolTip { get; set; }

	[Parameter]
	private bool Indent { get; set; }

	[Parameter]
	private bool? IsEnabled { get; set; } = true;
	private string DisabledClass => (IsEnabled ?? true) ? "" : "disabled";

	[Parameter]
	private string Id { get; set; }

	[Parameter]
	private RenderFragment ChildContent { get; set; }

}
