@if (Indent)
	{
		<span class="indent"></span>
	}
<label for="@Id" @onclick="ShowToolTip" @onmouseover="@ShowToolTip" @onmouseout="@HideToolTip" class="@DisabledClass">@ChildContent</label>


@code
{
	private void ShowToolTip(MouseEventArgs e)
	{
		UpdateToolTip?.Invoke(Id, e);
	}

	private void HideToolTip(MouseEventArgs e)
	{
		UpdateToolTip?.Invoke("", e);
	}

	[Parameter]
	public Action<string, MouseEventArgs> UpdateToolTip { get; set; }

	[Parameter]
	public bool Indent { get; set; }

	[Parameter]
	public bool? IsEnabled { get; set; } = true;
	private string DisabledClass => (IsEnabled ?? true) ? "" : "disabled";

	[Parameter]
	public string Id { get; set; }

	[Parameter]
	public RenderFragment ChildContent { get; set; }

}
