@using System.Net.Http.Json
@inject HttpClient  Http
<div id="top-nav">
	<div id="orbs">
		<div class="orb-image @(litOrbs[0] ? "litUL" : "")" @onclick="@(() => SwitchOrb(0))"></div><div class="orb-image @(litOrbs[1] ? "litUR" : "")" @onclick="@(() => SwitchOrb(1))"></div><span class="orb-image @(litOrbs[2] ? "litLL" : "")" @onclick="@(() => SwitchOrb(2))"></span><span class="orb-image @(litOrbs[3] ? "litLR" : "")" @onclick="@(() => SwitchOrb(3))"></span>
	</div>

	<nav id="site-nav">
		<span class="nav-item-main" id="randomize"><a href="Randomize">Randomize</a></span>
		<span class="nav-item-main" id="about"><a href="About">About</a></span>
		<span class="nav-item-main" id="help"><a href="WhatsNew">Help</a></span>
		<span class="nav-item-main" id="issues"><a href="https://github.com/FiendsOfTheElements/FF1Randomizer/issues">Issues</a></span>
		<span class="nav-item-main" id="install"><a href="javascript:showPWAInstall()">Install</a></span>
	</nav>
</div>
@code {
	[Parameter] public FF1Lib.FlagsViewModel Flags { get; set; }
	[Parameter] public Action<string, MouseEventArgs> UpdateToolTipID { get; set; }
	[Parameter] public bool noTabLayout { get; set; }

	private bool[] litOrbs = { false, false, false, false };

	private void SwitchOrb(int orb)
	{
		litOrbs[orb] = !litOrbs[orb];
		StateHasChanged();
	}



}
