<h4>Party Composition</h4>
<br />
<div class="table-wrapper">
    <table>
        <tr class="odd">
            <td>Permitted Classes</td>
            <td>Forced?</td>
            <td>Fighter</td>
            <td>Thief</td>
            <td>Black Belt</td>
            <td>Red Mage</td>
            <td>White Mage</td>
            <td>Black Mage</td>
            <td>None!</td>
        </tr>
        <tr class="bottom-borderd">
            <td class="right-bordered">All</td>
            <td><TriStateCheckBox DisableTooltip Id="partyForcedAll" @bind-Value="@AllForced"></TriStateCheckBox></td>
            <td><TriStateCheckBox DisableTooltip Id="partyFighterAll" @bind-Value="@AllFighter"></TriStateCheckBox></td>
            <td><TriStateCheckBox DisableTooltip Id="partyThiefAll" @bind-Value="@AllThief"></TriStateCheckBox></td>
            <td><TriStateCheckBox DisableTooltip Id="partyBlackBeltAll" @bind-Value="@AllBlackBelt"></TriStateCheckBox></td>
            <td><TriStateCheckBox DisableTooltip Id="partyRedMageAll" @bind-Value="@AllRedMage"></TriStateCheckBox></td>
            <td><TriStateCheckBox DisableTooltip Id="partyWhiteMageAll" @bind-Value="@AllWhiteMage"></TriStateCheckBox></td>
            <td><TriStateCheckBox DisableTooltip Id="partyBlackMageAll" @bind-Value="@AllBlackMage"></TriStateCheckBox></td>
            <td></td>
        </tr>

        <tr>
            <td class="right-bordered">Member 1</td>
            <td><TriStateCheckBox DisableTooltip Id="partyForced1" @bind-Value="@FORCED1"></TriStateCheckBox></td>
            <td><TriStateCheckBox DisableTooltip Id="partyFighter1" @bind-Value="@FIGHTER1"></TriStateCheckBox></td>
            <td><TriStateCheckBox DisableTooltip Id="partyThief1" @bind-Value="@THIEF1"></TriStateCheckBox></td>
            <td><TriStateCheckBox DisableTooltip Id="partyBlackBelt1" @bind-Value="@BLACK_BELT1"></TriStateCheckBox></td>
            <td><TriStateCheckBox DisableTooltip Id="partyRedMage1" @bind-Value="@RED_MAGE1"></TriStateCheckBox></td>
            <td><TriStateCheckBox DisableTooltip Id="partyWhiteMage1" @bind-Value="@WHITE_MAGE1"></TriStateCheckBox></td>
            <td><TriStateCheckBox DisableTooltip Id="partyBlackMage1" @bind-Value="@BLACK_MAGE1"></TriStateCheckBox></td>
            <td></td>
        </tr>
        <tr class="odd">
            <td class="right-bordered">Member 2</td>
            <td><TriStateCheckBox DisableTooltip Id="partyForced2" @bind-Value="@FORCED2"></TriStateCheckBox></td>
            <td><TriStateCheckBox DisableTooltip Id="partyFighter2" @bind-Value="@FIGHTER2"></TriStateCheckBox></td>
            <td><TriStateCheckBox DisableTooltip Id="partyThief2" @bind-Value="@THIEF2"></TriStateCheckBox></td>
            <td><TriStateCheckBox DisableTooltip Id="partyBlackBelt2" @bind-Value="@BLACK_BELT2"></TriStateCheckBox></td>
            <td><TriStateCheckBox DisableTooltip Id="partyRedMage2" @bind-Value="@RED_MAGE2"></TriStateCheckBox></td>
            <td><TriStateCheckBox DisableTooltip Id="partyWhiteMage2" @bind-Value="@WHITE_MAGE2"></TriStateCheckBox></td>
            <td><TriStateCheckBox DisableTooltip Id="partyBlackMage2" @bind-Value="@BLACK_MAGE2"></TriStateCheckBox></td>
            <td><TriStateCheckBox DisableTooltip Id="partyNone2" @bind-Value="@Flags.NONE_CLASS2"></TriStateCheckBox></td>
        </tr>
        <tr>
            <td class="right-bordered">Member 3</td>
            <td><TriStateCheckBox DisableTooltip Id="partyForced3" @bind-Value="@FORCED3"></TriStateCheckBox></td>
            <td><TriStateCheckBox DisableTooltip Id="partyFighter3" @bind-Value="@FIGHTER3"></TriStateCheckBox></td>
            <td><TriStateCheckBox DisableTooltip Id="partyThief3" @bind-Value="@THIEF3"></TriStateCheckBox></td>
            <td><TriStateCheckBox DisableTooltip Id="partyBlackBelt3" @bind-Value="@BLACK_BELT3"></TriStateCheckBox></td>
            <td><TriStateCheckBox DisableTooltip Id="partyRedMage3" @bind-Value="@RED_MAGE3"></TriStateCheckBox></td>
            <td><TriStateCheckBox DisableTooltip Id="partyWhiteMage3" @bind-Value="@WHITE_MAGE3"></TriStateCheckBox></td>
            <td><TriStateCheckBox DisableTooltip Id="partyBlackMage3" @bind-Value="@BLACK_MAGE3"></TriStateCheckBox></td>
            <td><TriStateCheckBox DisableTooltip Id="partyNone3" @bind-Value="@Flags.NONE_CLASS3"></TriStateCheckBox></td>
        </tr>
        <tr class="odd">
            <td class="right-bordered">Member 4</td>
            <td><TriStateCheckBox DisableTooltip Id="partyForced4" @bind-Value="@FORCED4"></TriStateCheckBox></td>
            <td><TriStateCheckBox DisableTooltip Id="partyFighter4" @bind-Value="@FIGHTER4"></TriStateCheckBox></td>
            <td><TriStateCheckBox DisableTooltip Id="partyThief4" @bind-Value="@THIEF4"></TriStateCheckBox></td>
            <td><TriStateCheckBox DisableTooltip Id="partyBlackBelt4" @bind-Value="@BLACK_BELT4"></TriStateCheckBox></td>
            <td><TriStateCheckBox DisableTooltip Id="partyRedMage4" @bind-Value="@RED_MAGE4"></TriStateCheckBox></td>
            <td><TriStateCheckBox DisableTooltip Id="partyWhiteMage4" @bind-Value="@WHITE_MAGE4"></TriStateCheckBox></td>
            <td><TriStateCheckBox DisableTooltip Id="partyBlackMage4" @bind-Value="@BLACK_MAGE4"></TriStateCheckBox></td>
            <td><TriStateCheckBox DisableTooltip Id="partyNone4" @bind-Value="@Flags.NONE_CLASS4"></TriStateCheckBox></td>
        </tr>
    </table>
</div>

@code {
    [Parameter] public FF1Lib.FlagsViewModel Flags { get; set; }
    private bool? _allForced = false;
    public bool? AllForced
    {
        get { return _allForced; }
        set
        {
            Flags.FORCED1 = value;
            Flags.FORCED2 = value;
            Flags.FORCED3 = value;
            Flags.FORCED4 = value;
            _allForced = value;
        }
    }

    public bool? FORCED1
    {
        get { return Flags.FORCED1; }
        set
        {
            Flags.FORCED1 = value;
            if (Flags.FORCED1 == Flags.FORCED2 && Flags.FORCED2 == Flags.FORCED3 && Flags.FORCED3 == Flags.FORCED4)
            {
                _allForced = value;
            }
            else { _allForced = false; }
        }
    }
    public bool? FORCED2
    {
        get { return Flags.FORCED2; }
        set
        {
            Flags.FORCED2 = value;
            if (Flags.FORCED1 == Flags.FORCED2 && Flags.FORCED2 == Flags.FORCED3 && Flags.FORCED3 == Flags.FORCED4)
            {
                _allForced = value;
            }
            else { _allForced = false; }
        }
    }
    public bool? FORCED3
    {
        get { return Flags.FORCED3; }
        set
        {
            Flags.FORCED3 = value;
            if (Flags.FORCED1 == Flags.FORCED2 && Flags.FORCED2 == Flags.FORCED3 && Flags.FORCED3 == Flags.FORCED4)
            {
                _allForced = value;
            }
            else { _allForced = false; }
        }
    }
    public bool? FORCED4
    {
        get { return Flags.FORCED4; }
        set
        {
            Flags.FORCED4 = value;
            if (Flags.FORCED1 == Flags.FORCED2 && Flags.FORCED2 == Flags.FORCED3 && Flags.FORCED3 == Flags.FORCED4)
            {
                _allForced = value;
            }
            else { _allForced = false; }
        }
    }

    private bool? _allFighter = true;
    public bool? AllFighter
    {
        get { return _allFighter; }
        set
        {
            Flags.FIGHTER1 = value;
            Flags.FIGHTER2 = value;
            Flags.FIGHTER3 = value;
            Flags.FIGHTER4 = value;
            _allFighter = value;
        }
    }
    public bool? FIGHTER1
    {
        get { return Flags.FIGHTER1; }
        set
        {
            Flags.FIGHTER1 = value;
            if (Flags.FIGHTER1 == Flags.FIGHTER2 && Flags.FIGHTER2 == Flags.FIGHTER3 && Flags.FIGHTER3 == Flags.FIGHTER4)
            {
                _allFighter = value;
            }
            else { _allFighter = false; }
        }
    }
    public bool? FIGHTER2
    {
        get { return Flags.FIGHTER2; }
        set
        {
            Flags.FIGHTER2 = value;
            if (Flags.FIGHTER1 == Flags.FIGHTER2 && Flags.FIGHTER2 == Flags.FIGHTER3 && Flags.FIGHTER3 == Flags.FIGHTER4)
            {
                _allFighter = value;
            }
            else { _allFighter = false; }
        }
    }
    public bool? FIGHTER3
    {
        get { return Flags.FIGHTER3; }
        set
        {
            Flags.FIGHTER3 = value;
            if (Flags.FIGHTER1 == Flags.FIGHTER2 && Flags.FIGHTER2 == Flags.FIGHTER3 && Flags.FIGHTER3 == Flags.FIGHTER4)
            {
                _allFighter = value;
            }
            else { _allFighter = false; }
        }
    }
    public bool? FIGHTER4
    {
        get { return Flags.FIGHTER4; }
        set
        {
            Flags.FIGHTER4 = value;
            if (Flags.FIGHTER1 == Flags.FIGHTER2 && Flags.FIGHTER2 == Flags.FIGHTER3 && Flags.FIGHTER3 == Flags.FIGHTER4)
            {
                _allFighter = value;
            }
            else { _allFighter = false; }
        }
    }

    private bool? _allThief = true;
    public bool? AllThief
    {
        get { return _allThief; }
        set
        {
            Flags.THIEF1 = value;
            Flags.THIEF2 = value;
            Flags.THIEF3 = value;
            Flags.THIEF4 = value;
            _allThief = value;
        }
    }

    public bool? THIEF1
    {
        get { return Flags.THIEF1; }
        set
        {
            Flags.THIEF1 = value;
            if (Flags.THIEF1 == Flags.THIEF2 && Flags.THIEF2 == Flags.THIEF3 && Flags.THIEF3 == Flags.THIEF4)
            {
                _allThief = value;
            }
            else { _allThief = false; }
        }
    }
    public bool? THIEF2
    {
        get { return Flags.THIEF2; }
        set
        {
            Flags.THIEF2 = value;
            if (Flags.THIEF1 == Flags.THIEF2 && Flags.THIEF2 == Flags.THIEF3 && Flags.THIEF3 == Flags.THIEF4)
            {
                _allThief = value;
            }
            else { _allThief = false; }
        }
    }
    public bool? THIEF3
    {
        get { return Flags.THIEF3; }
        set
        {
            Flags.THIEF3 = value;
            if (Flags.THIEF1 == Flags.THIEF2 && Flags.THIEF2 == Flags.THIEF3 && Flags.THIEF3 == Flags.THIEF4)
            {
                _allThief = value;
            }
            else { _allThief = false; }
        }
    }
    public bool? THIEF4
    {
        get { return Flags.THIEF4; }
        set
        {
            Flags.THIEF4 = value;
            if (Flags.THIEF1 == Flags.THIEF2 && Flags.THIEF2 == Flags.THIEF3 && Flags.THIEF3 == Flags.THIEF4)
            {
                _allThief = value;
            }
            else { _allThief = false; }
        }
    }

    private bool? _allBlackBelt = true;
    public bool? AllBlackBelt
    {
        get { return _allBlackBelt; }
        set
        {
            Flags.BLACK_BELT1 = value;
            Flags.BLACK_BELT2 = value;
            Flags.BLACK_BELT3 = value;
            Flags.BLACK_BELT4 = value;
            _allBlackBelt = value;
        }
    }
    public bool? BLACK_BELT1
    {
        get { return Flags.BLACK_BELT1; }
        set
        {
            Flags.BLACK_BELT1 = value;
            if (Flags.BLACK_BELT1 == Flags.BLACK_BELT2 && Flags.BLACK_BELT2 == Flags.BLACK_BELT3 && Flags.BLACK_BELT3 == Flags.BLACK_BELT4)
            {
                _allBlackBelt = value;
            }
            else { _allBlackBelt = false; }
        }
    }
    public bool? BLACK_BELT2
    {
        get { return Flags.BLACK_BELT2; }
        set
        {
            Flags.BLACK_BELT2 = value;
            if (Flags.BLACK_BELT1 == Flags.BLACK_BELT2 && Flags.BLACK_BELT2 == Flags.BLACK_BELT3 && Flags.BLACK_BELT3 == Flags.BLACK_BELT4)
            {
                _allBlackBelt = value;
            }
            else { _allBlackBelt = false; }
        }
    }
    public bool? BLACK_BELT3
    {
        get { return Flags.BLACK_BELT3; }
        set
        {
            Flags.BLACK_BELT3 = value;
            if (Flags.BLACK_BELT1 == Flags.BLACK_BELT2 && Flags.BLACK_BELT2 == Flags.BLACK_BELT3 && Flags.BLACK_BELT3 == Flags.BLACK_BELT4)
            {
                _allBlackBelt = value;
            }
            else { _allBlackBelt = false; }
        }
    }
    public bool? BLACK_BELT4
    {
        get { return Flags.BLACK_BELT4; }
        set
        {
            Flags.BLACK_BELT4 = value;
            if (Flags.BLACK_BELT1 == Flags.BLACK_BELT2 && Flags.BLACK_BELT2 == Flags.BLACK_BELT3 && Flags.BLACK_BELT3 == Flags.BLACK_BELT4)
            {
                _allBlackBelt = value;
            }
            else { _allBlackBelt = false; }
        }
    }

    private bool? _allRedMage = true;
    public bool? AllRedMage
    {
        get { return _allRedMage; }
        set
        {
            Flags.RED_MAGE1 = value;
            Flags.RED_MAGE2 = value;
            Flags.RED_MAGE3 = value;
            Flags.RED_MAGE4 = value;
            _allRedMage = value;
        }
    }
    public bool? RED_MAGE1
    {
        get { return Flags.RED_MAGE1; }
        set
        {
            Flags.RED_MAGE1 = value;
            if (Flags.RED_MAGE1 == Flags.RED_MAGE2 && Flags.RED_MAGE2 == Flags.RED_MAGE3 && Flags.RED_MAGE3 == Flags.RED_MAGE4)
            {
                _allRedMage = value;
            }
            else { _allRedMage = false; }
        }
    }
    public bool? RED_MAGE2
    {
        get { return Flags.RED_MAGE2; }
        set
        {
            Flags.RED_MAGE2 = value;
            if (Flags.RED_MAGE1 == Flags.RED_MAGE2 && Flags.RED_MAGE2 == Flags.RED_MAGE3 && Flags.RED_MAGE3 == Flags.RED_MAGE4)
            {
                _allRedMage = value;
            }
            else { _allRedMage = false; }
        }
    }
    public bool? RED_MAGE3
    {
        get { return Flags.RED_MAGE3; }
        set
        {
            Flags.RED_MAGE3 = value;
            if (Flags.RED_MAGE1 == Flags.RED_MAGE2 && Flags.RED_MAGE2 == Flags.RED_MAGE3 && Flags.RED_MAGE3 == Flags.RED_MAGE4)
            {
                _allRedMage = value;
            }
            else { _allRedMage = false; }
        }
    }
    public bool? RED_MAGE4
    {
        get { return Flags.RED_MAGE4; }
        set
        {
            Flags.RED_MAGE4 = value;
            if (Flags.RED_MAGE1 == Flags.RED_MAGE2 && Flags.RED_MAGE2 == Flags.RED_MAGE3 && Flags.RED_MAGE3 == Flags.RED_MAGE4)
            {
                _allRedMage = value;
            }
            else { _allRedMage = false; }
        }
    }

    private bool? _allWhiteMage = true;
    public bool? AllWhiteMage
    {
        get { return _allWhiteMage; }
        set
        {
            Flags.WHITE_MAGE1 = value;
            Flags.WHITE_MAGE2 = value;
            Flags.WHITE_MAGE3 = value;
            Flags.WHITE_MAGE4 = value;
            _allWhiteMage = value;
        }
    }
    public bool? WHITE_MAGE1
    {
        get { return Flags.WHITE_MAGE1; }
        set
        {
            Flags.WHITE_MAGE1 = value;
            if (Flags.WHITE_MAGE1 == Flags.WHITE_MAGE2 && Flags.WHITE_MAGE2 == Flags.WHITE_MAGE3 && Flags.WHITE_MAGE3 == Flags.WHITE_MAGE4)
            {
                _allWhiteMage = value;
            }
            else { _allWhiteMage = false; }
        }
    }
    public bool? WHITE_MAGE2
    {
        get { return Flags.WHITE_MAGE2; }
        set
        {
            Flags.WHITE_MAGE2 = value;
            if (Flags.WHITE_MAGE1 == Flags.WHITE_MAGE2 && Flags.WHITE_MAGE2 == Flags.WHITE_MAGE3 && Flags.WHITE_MAGE3 == Flags.WHITE_MAGE4)
            {
                _allWhiteMage = value;
            }
            else { _allWhiteMage = false; }
        }
    }
    public bool? WHITE_MAGE3
    {
        get { return Flags.WHITE_MAGE3; }
        set
        {
            Flags.WHITE_MAGE3 = value;
            if (Flags.WHITE_MAGE1 == Flags.WHITE_MAGE2 && Flags.WHITE_MAGE2 == Flags.WHITE_MAGE3 && Flags.WHITE_MAGE3 == Flags.WHITE_MAGE4)
            {
                _allWhiteMage = value;
            }
            else { _allWhiteMage = false; }
        }
    }
    public bool? WHITE_MAGE4
    {
        get { return Flags.WHITE_MAGE4; }
        set
        {
            Flags.WHITE_MAGE4 = value;
            if (Flags.WHITE_MAGE1 == Flags.WHITE_MAGE2 && Flags.WHITE_MAGE2 == Flags.WHITE_MAGE3 && Flags.WHITE_MAGE3 == Flags.WHITE_MAGE4)
            {
                _allWhiteMage = value;
            }
            else { _allWhiteMage = false; }
        }
    }

    private bool? _allBlackMage = true;
    public bool? AllBlackMage
    {
        get { return _allBlackMage; }
        set
        {
            Flags.BLACK_MAGE1 = value;
            Flags.BLACK_MAGE2 = value;
            Flags.BLACK_MAGE3 = value;
            Flags.BLACK_MAGE4 = value;
            _allBlackMage = value;
        }
    }
    public bool? BLACK_MAGE1
    {
        get { return Flags.BLACK_MAGE1; }
        set
        {
            Flags.BLACK_MAGE1 = value;
            if (Flags.BLACK_MAGE1 == Flags.BLACK_MAGE2 && Flags.BLACK_MAGE2 == Flags.BLACK_MAGE3 && Flags.BLACK_MAGE3 == Flags.BLACK_MAGE4)
            {
                _allBlackMage = value;
            }
            else { _allBlackMage = false; }
        }
    }
    public bool? BLACK_MAGE2
    {
        get { return Flags.BLACK_MAGE2; }
        set
        {
            Flags.BLACK_MAGE2 = value;
            if (Flags.BLACK_MAGE1 == Flags.BLACK_MAGE2 && Flags.BLACK_MAGE2 == Flags.BLACK_MAGE3 && Flags.BLACK_MAGE3 == Flags.BLACK_MAGE4)
            {
                _allBlackMage = value;
            }
            else { _allBlackMage = false; }
        }
    }
    public bool? BLACK_MAGE3
    {
        get { return Flags.BLACK_MAGE3; }
        set
        {
            Flags.BLACK_MAGE3 = value;
            if (Flags.BLACK_MAGE1 == Flags.BLACK_MAGE2 && Flags.BLACK_MAGE2 == Flags.BLACK_MAGE3 && Flags.BLACK_MAGE3 == Flags.BLACK_MAGE4)
            {
                _allBlackMage = value;
            }
            else { _allBlackMage = false; }
        }
    }
    public bool? BLACK_MAGE4
    {
        get { return Flags.BLACK_MAGE4; }
        set
        {
            Flags.BLACK_MAGE4 = value;
            if (Flags.BLACK_MAGE1 == Flags.BLACK_MAGE2 && Flags.BLACK_MAGE2 == Flags.BLACK_MAGE3 && Flags.BLACK_MAGE3 == Flags.BLACK_MAGE4)
            {
                _allBlackMage = value;
            }
            else { _allBlackMage = false; }
        }
    }
}

