<div class="col-3">
	<input type="range" value="@Value" onchange="@onchange" min="@Min" max="@Max" step="@Step" />
</div>

@functions
{
	[Parameter]
	private double Value { get; set; }
	[Parameter]
	private Action<double> ValueChanged { get; set; }
	void onchange(UIChangeEventArgs e)
	{
		Value = double.Parse((string)e.Value);
		ValueChanged(Value);
	}

	[Parameter]
	private double Min { get; set; }
	[Parameter]
	private double Max { get; set; }
	[Parameter]
	private double Step { get; set; }
}
