@page "/Randomize"
@using System.ComponentModel;
@using System.IO;
@using RomUtilities;
@using FF1Lib;
@using System.Text.Json;
@using BlazorStrap
@using Microsoft.AspNetCore.Components.Web
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage


<div class="content px-4 tinted">
    <a href="https://en.wikipedia.org/wiki/George_Floyd" style="color: yellow; font-weight: bold; font-size: 24px; display: table; margin-left: auto; margin-right: auto;">#icantbreathe</a>
	<CascadingValue Value="@ToolTipId">
		<ToolTip @ref="ToolTipElement"></ToolTip>
		<button type="button" class="@(TabClasses("File"))" @onclick="@(() => ActivateTab("File"))">File</button>
		<BSCollapse IsOpen="@(activeTabs.Contains("File"))">
			<div class="is-dark nes-container">
				<div class="row spaced-row">
					<div class="col-md-6">
						<p>@RomMessage</p>
						<input type="file" id="fileInput" @onchange="@OnFileChanged" />
					</div>
					<div class="col-md-6">
						<CheckBox UpdateToolTip="@UpdateToolTipID" Id="rememberCheckBox" @bind-Checked="RememberROM">Remember ROM</CheckBox>
						<CheckBox UpdateToolTip="@UpdateToolTipID" Id="tournamentSafeCheckBox" @bind-Checked="Flags.TournamentSafe">Tournament Safe ROM</CheckBox>
						<CheckBox UpdateToolTip="@UpdateToolTipID" Id="spoilersCheckBox" @bind-Checked="Flags.Spoilers">Generate Spoiler Log!</CheckBox>
					</div>
				</div>
				<div class="row">&nbsp;</div>
				<div class="row spaced-row">
					<div class="col-md-4">
						<p>
							Seed:
							<input type="text" style="width: calc(100% - 200px);" class="nes-input @(_seedInputClass)" id="seedInput" @onchange="@OnSeedInputChanged" value="@(_seed)" />
							<button type="button" class="nes-btn is-primary" @onclick="@OnNewSeed">New</button>
						</p>
					</div>
					<div class="col-md-8">
						<p>
							Flags:
							<input style="width: calc(100% - 300px);" type="text" class="nes-input" value="@Flags.Encoded" @onchange="@OnFlagsInputChanged" />
							<button type="button" class="nes-btn is-primary" @onclick="@OnCopyToClipboard">Export</button>
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<button type="button" class="nes-btn is-primary is-huge" @onclick="@OnRandomize">Generate ROM</button>
					</div>
				</div>
				<div class="is-dark nes-container" style="margin-top: 10px;">
					<div class="row">
						<div class="col-md-12">
							@StatusMessage
						</div>
					</div>
				</div>
			</div>
		</BSCollapse>

		<button type="button" class="@(TabClasses("Presets"))" @onclick="@(() => ActivateTab("Presets"))">Presets</button>
		<BSCollapse IsOpen="@(activeTabs.Contains("Presets"))">
			<PresetsTab Flags="@Flags" SetStatusMessage="@SetStatusMessage" />
		</BSCollapse>

		<button type="button" class="@(TabClasses("Shops"))" @onclick="@(() => ActivateTab("Shops"))">Shops, Spells, RNG</button>
		<BSCollapse IsOpen=@(activeTabs.Contains("Shops"))>
			<ShopsTab Flags="@Flags" UpdateToolTipID="@UpdateToolTipID" />
		</BSCollapse>

		<button type="button" class="@(TabClasses("Enemies"))" @onclick="@(() => ActivateTab("Enemies"))">Enemies</button>
		<BSCollapse IsOpen=@(activeTabs.Contains("Enemies"))>
			<EnemiesTab Flags="@Flags" UpdateToolTipID="@UpdateToolTipID" />
		</BSCollapse>

		<button type="button" class="@(TabClasses("Treasures"))" @onclick="@(() => ActivateTab("Treasures"))">Treasures &amp; Incentives</button>
		<BSCollapse IsOpen="@(activeTabs.Contains("Treasures"))">
			<TreasuresTab Flags="@Flags" UpdateToolTipID="@UpdateToolTipID" />
		</BSCollapse>

		<button type="button" class="@(TabClasses("Goal"))" @onclick="@(() => ActivateTab("Goal"))">Goal</button>
		<BSCollapse IsOpen="@(activeTabs.Contains("Goal"))">
			<GoalTab Flags="@Flags" UpdateToolTipID="@UpdateToolTipID" />
		</BSCollapse>

		<button type="button" class="@(TabClasses("Map"))" @onclick="@(() => ActivateTab("Map"))">Maps &amp; Routing</button>
		<BSCollapse IsOpen="@(activeTabs.Contains("Map"))">
			<MapsTab Flags="@Flags" UpdateToolTipID="@UpdateToolTipID" />
		</BSCollapse>

		<button type="button" class="@(TabClasses("Scale"))" @onclick="@(() => ActivateTab("Scale"))">Scale</button>
		<BSCollapse IsOpen="@(activeTabs.Contains("Scale"))">
			<ScaleTab Flags="@Flags" UpdateToolTipID="@UpdateToolTipID" />
		</BSCollapse>

		<button type="button" class="@(TabClasses("Party"))" @onclick="@(() => ActivateTab("Party"))">Party</button>
		<BSCollapse IsOpen="@(activeTabs.Contains("Party"))">
			<PartyTab Flags="@Flags" UpdateToolTipID="@UpdateToolTipID" />
		</BSCollapse>

		<button type="button" class="@(TabClasses("Conveniences"))" @onclick="@(() => ActivateTab("Conveniences"))">Conveniences</button>
		<BSCollapse IsOpen="@(activeTabs.Contains("Conveniences"))">
			<div class="is-dark nes-container">
				<div class="row">
					<div class="col-md-12">
						<CheckBox UpdateToolTip="@UpdateToolTipID" Id="noPartyShuffleCheckBox" @bind-Checked="Flags.NoPartyShuffle">No Party Shuffle</CheckBox>
						<CheckBox UpdateToolTip="@UpdateToolTipID" Id="speedHacksCheckBox" @bind-Checked="Flags.SpeedHacks">Speed Hacks</CheckBox>
						<CheckBox UpdateToolTip="@UpdateToolTipID" Id="identifyTreasuresCheckBox" @bind-Checked="Flags.IdentifyTreasures">Identify Treasures</CheckBox>
						<CheckBox UpdateToolTip="@UpdateToolTipID" Id="dashCheckBox" @bind-Checked="Flags.Dash">Enable Dash</CheckBox>
						<CheckBox UpdateToolTip="@UpdateToolTipID" IsEnabled="@(!Flags.BuyTenOld)" Id="buyTenCheckBox" @bind-Checked="Flags.BuyTen">Buy Quantity</CheckBox>
						<CheckBox UpdateToolTip="@UpdateToolTipID" Id="waitWhenUnrunnableCheckBox" @bind-Checked="Flags.WaitWhenUnrunnable">Change Unrunnable RUN to WAIT</CheckBox>
						<CheckBox UpdateToolTip="@UpdateToolTipID" IsEnabled="@Flags.SpeedHacks" Id="enableCritNumberDisplayCheckBox" @bind-Checked="Flags.EnableCritNumberDisplay">Critical Hit Count Display</CheckBox>
						<CheckBox UpdateToolTip="@UpdateToolTipID" Id="battleMagicMenuWrapAroundCheckBox" @bind-Checked="Flags.BattleMagicMenuWrapAround">Battle Magic Menu Wrap Around</CheckBox>
						<CheckBox UpdateToolTip="@UpdateToolTipID" Id="inventoryAutosortCheckBox" @bind-Checked="Flags.InventoryAutosort">Autosort Inventory</CheckBox>
						<CheckBox UpdateToolTip="@UpdateToolTipID" Id="npcSwatterCheckBox" @bind-Checked="Flags.NPCSwatter">NPC Guillotine</CheckBox>
					</div>
				</div>
			</div>
		</BSCollapse>

		<button type="button" class="@(TabClasses("Bug Fixes"))" @onclick="@(() => ActivateTab("Bug Fixes"))">Bug Fixes &amp; Rebalancing</button>
		<BSCollapse IsOpen="@(activeTabs.Contains("Bug Fixes"))">
			<div class="is-dark nes-container">
				<div class="row">
					<div class="col-md-6">
						<h4>Bugs</h4>
						<CheckBox UpdateToolTip="@UpdateToolTipID" Id="houseMPRestorationCheckBox" @bind-Checked="Flags.HouseMPRestoration">House MP Restoration</CheckBox>
						<CheckBox UpdateToolTip="@UpdateToolTipID" Id="weaponStatsCheckBox" @bind-Checked="Flags.WeaponStats">Weapon Stats</CheckBox>
						<CheckBox UpdateToolTip="@UpdateToolTipID" Id="chanceToRunCheckBox" @bind-Checked="Flags.ChanceToRun">Chance to Run</CheckBox>
						<CheckBox UpdateToolTip="@UpdateToolTipID" Id="spellBugsCheckBox" @bind-Checked="Flags.SpellBugs">Spell Fixes</CheckBox>
						<CheckBox UpdateToolTip="@UpdateToolTipID" Id="enemyStatusAttackBugCheckBox" @bind-Checked="Flags.EnemyStatusAttackBug">Enemy Status Attacks</CheckBox>
						<CheckBox UpdateToolTip="@UpdateToolTipID" Id="blackBeltAbsorbCheckBox" @bind-Checked="Flags.BlackBeltAbsorb">Bl. Belt & Master Absorb Calculation</CheckBox>
						<CheckBox UpdateToolTip="@UpdateToolTipID" Id="enemyElementalResistancesCheckBox" @bind-Checked="Flags.EnemyElementalResistancesBug">Enemy Elemental Resistances</CheckBox>
						<CheckBox UpdateToolTip="@UpdateToolTipID" Id="enemySpellsTargetingAlliesCheckBox" @bind-Checked="Flags.EnemySpellsTargetingAllies">Enemy Spells Targeting Allies</CheckBox>
						<CheckBox UpdateToolTip="@UpdateToolTipID" Id="improveTurnOrderRandomizationCheckBox" @bind-Checked="Flags.ImproveTurnOrderRandomization">Improve Turn Order Randomization</CheckBox>
						<CheckBox UpdateToolTip="@UpdateToolTipID" Id="fixHitChanceCapCheckBox" @bind-Checked="Flags.FixHitChanceCap">Fix Hit % Cap</CheckBox>
					</div>
					<div class="col-md-6">
						<h4>Balance</h4>
						<CheckBox UpdateToolTip="@UpdateToolTipID" Id="doubleBBCritCheckBox" @bind-Checked="Flags.BBCritRate">Halve BB Crit Rate</CheckBox>
						<CheckBox UpdateToolTip="@UpdateToolTipID" Id="doubleWeaponCritCheckBox" @bind-Checked="Flags.WeaponCritRate">Double Weapon Crit Rate</CheckBox>
						<CheckBox UpdateToolTip="@UpdateToolTipID" Id="increaseWepBonusesCheckBox" @bind-Checked="Flags.WeaponBonuses">Increase Weapon Elemental and Type Bonuses</CheckBox>
						<CheckBox UpdateToolTip="@UpdateToolTipID" Id="thiefHitCheckBox" @bind-Checked="Flags.ThiefHitRate">Double Thief &amp; Ninja Hit% growth.</CheckBox>
						<CheckBox UpdateToolTip="@UpdateToolTipID" Id="cureHealBuffCheckBox" @bind-Checked="Flags.BuffHealingSpells">Improve CURE, HEAL, LAMP, and AMUT spells</CheckBox>
						<CheckBox UpdateToolTip="@UpdateToolTipID" Id="housesFillHpCheckBox" @bind-Checked="Flags.HousesFillHP">House Full HP Restoration</CheckBox>
						<EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="LockMode" TItem="LockHitMode" @bind-Value="Flags.LockMode">LOCK and LOK2 Mode:</EnumDropDown>
						<EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="MDefModeDropDown" TItem="MDEFGrowthMode" @bind-Value="Flags.MDefMode">MDEF Growth:</EnumDropDown>
					</div>

				</div>
			</div>
		</BSCollapse>

		<button type="button" class="@(TabClasses("Experimental"))" @onclick="@(() => ActivateTab("Experimental"))">Experimental</button>
		<BSCollapse IsOpen="@(activeTabs.Contains("Experimental"))">
			<div class="is-dark nes-container">
				<div class="row">
					<div class="col-md-12">
						Test out features from 2000 years in the future - at your own risk!
						<div class="checkbox-cell"></div>
						<CheckBox UpdateToolTip="@UpdateToolTipID" Id="itemPlacementCheckBox" IsEnabled="@Flags.Treasures" @bind-Checked="Flags.ClassicItemPlacement">Use Older v2 Placement</CheckBox>
						<CheckBox UpdateToolTip="@UpdateToolTipID" IsEnabled="@(!Flags.BuyTen)" Id="buyTenOldCheckBox" @bind-Checked="Flags.BuyTenOld">Buy Ten (old)</CheckBox>
						<div class="checkbox-cell"></div>
						<CheckBox UpdateToolTip="@UpdateToolTipID" IsEnabled="@Flags.ExperimentalFloorGeneration" Id="procGenEarth1" @bind-Checked="Flags.EFGEarth1">Generated Earth Cave B1</CheckBox>
						<CheckBox UpdateToolTip="@UpdateToolTipID" IsEnabled="@Flags.ExperimentalFloorGeneration" Id="procGenEarth2" @bind-Checked="Flags.EFGEarth2">Generated Earth Cave B2</CheckBox>
					</div>
				</div>
			</div>
		</BSCollapse>

		<button type="button" class="@(TabClasses("Fun %"))" @onclick="@(() => ActivateTab("Fun %"))">Fun %</button>
		<BSCollapse IsOpen="@(activeTabs.Contains("Fun %"))">
			<div class="is-dark nes-container">
				<div class="row">
					<div class="col-md-12">
						Fun flags are not part of the standard flags string since they do not impact gameplay. The buttons at the bottom can be used to store your preferred fun % settings within your browser so that they will be automatically restored each time you visit the site.
					</div>
					<div class="col-md-6">
						<CheckBox UpdateToolTip="@UpdateToolTipID" Id="funEnemyNamesCheckBox" @bind-Checked="Flags.FunEnemyNames">Fun Enemy Names</CheckBox>
						<CheckBox UpdateToolTip="@UpdateToolTipID" Id="teamSteakCheckBox" @bind-Checked="Flags.TeamSteak">Team STEAK</CheckBox>
						<CheckBox UpdateToolTip="@UpdateToolTipID" Id="changeLuteCheckBox" @bind-Checked="Flags.ChangeLute">Multi-instrumentalist Sara</CheckBox>
						<EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="hurrayDwarfFate" TItem="Fate" @bind-Value="Flags.HurrayDwarfFate">Hurray Dwarf's Fate</EnumDropDown>
						<CheckBox UpdateToolTip="@UpdateToolTipID" Id="paletteSwapCheckBox" @bind-Checked="Flags.PaletteSwap">Palette Swap</CheckBox>
						<CheckBox UpdateToolTip="@UpdateToolTipID" Id="modernBattlefieldCheckBox" @bind-Checked="Flags.ModernBattlefield">Modern Battlefield</CheckBox>
						<CheckBox UpdateToolTip="@UpdateToolTipID" Id="thirdBattlePaletteCheckBox" @bind-Checked="Flags.ThirdBattlePalette">Three Battle Palettes</CheckBox>
					</div>
					<div class="col-md-6">
						<EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="partyMapmanSlot" TItem="MapmanSlot" @bind-Value="Flags.MapmanSlot">Mapman Slot</EnumDropDown>
						<EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="musicDropDown" TItem="MusicShuffle" @bind-Value="Flags.Music"></EnumDropDown>
						<CheckBox UpdateToolTip="@UpdateToolTipID" Id="disableDamageTileFlickerCheckBox" @bind-Checked="Flags.DisableDamageTileFlicker">Disable Damage Tile Flicker</CheckBox>
						<CheckBox UpdateToolTip="@UpdateToolTipID" Id="disableSpellCastFlashCheckBox" @bind-Checked="Flags.DisableSpellCastFlash">Disable Spell Cast Flash</CheckBox>
						<EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="menuColorDropDown" TItem="MenuColor" @bind-Value="Flags.MenuColor">Menu Color</EnumDropDown>
						<CheckBox UpdateToolTip="@UpdateToolTipID" Id="renounceAutosortCheckBox" @bind-Checked="Flags.RenounceAutosort">Renounce Autosort</CheckBox>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<button type="button" class="nes-btn is-primary" @onclick="@SavePreferences">Save Preferences</button>
					</div>
				</div>
			</div>
		</BSCollapse>
	</CascadingValue>
</div>

@code { private byte[] _fileData;
	private FF1Rom _rom;

	private string _seed;
	private string _seedInputClass = "";

	private FlagsViewModel Flags { get; set; } = new FlagsViewModel();

	private readonly List<string> activeTabs = new List<string> { "File", "Presets", "Generate", "Shops", "Enemies", "Treasures", "Goal", "Map", "Scale", "Party", "Bug Fixes", "Conveniences", "Experimental", "Fun %" };

	private string StatusMessage = "";
	private string RomMessage = "Upload Rom:";

	private bool RememberROM = false;

	private string ToolTipId = "unupdated";
	private ToolTip ToolTipElement;

	private void UpdateToolTipID(string Id, MouseEventArgs e)
	{
		ToolTipId = Id;
		ToolTipElement.UpdatePos(ToolTipId, e);
		StateHasChanged();
	}

	void ActivateTab(string tab)
	{
		if (!activeTabs.Remove(tab))
		{
			activeTabs.Add(tab);
		}
		StateHasChanged();
	}

	string TabClasses(string tab)
	{
		return activeTabs.Contains(tab) ? "nes-btn nes-nav is-success" : "nes-btn nes-nav is-warning";
	}

	protected override async void OnInitialized()
	{
		Flags.PropertyChanged += (sender, args) => StateHasChanged();
		Flags.PropertyChanged += async (sender, args) => await SetQueryString();

		var uri = new Uri(NavigationManager.Uri);
		if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("s", out var seed))
		{
			_seed = seed.Single();
		}
		else
		{
			await OnNewSeed(null);
		}

		if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("f", out var flags))
		{
			TrySetFlags(flags.First());
		}

		await LoadPreferences();
		await LoadLastROM();
		StateHasChanged();
	}

	async Task SetQueryString()
	{
		string[] args = new string[2] { _seed, Flags.Encoded };

		await JSRuntime.InvokeAsync<Task>("updateHistory", args);
	}



	async Task OnFileChanged(ChangeEventArgs e)
	{
		var encoded = await JSRuntime.InvokeAsync<string>("handleFileSelect", "fileInput");
		RomMessage = "Using Selected ROM.";
		SetFileData(encoded);

		if (RememberROM)
		{
			await LocalStorage.SetItemAsync("file", encoded);
		}
	}

	void SetFileData(string encoded)
	{
		_fileData = Convert.FromBase64String(encoded);
	}

	async Task OnSeedInputChanged(ChangeEventArgs e)
	{
		await ValidateSeed((string)e.Value);
	}

	async Task ValidateSeed(string seed)
	{
		if (seed == _seed)
			return;

		if (seed.Length > 8)
		{
			_seedInputClass = "is-error";
			return;
		}

		_seed = seed;
		try
		{
			Blob.FromHex(_seed);
			_seed = seed.PadLeft(8, '0');
			_seedInputClass = "";
			await SetQueryString();
		}
		catch (Exception)
		{
			_seedInputClass = "is-error";
		}
	}

	async Task OnNewSeed(MouseEventArgs e)
	{
		await ValidateSeed(Blob.Random(4).ToHex());
		StateHasChanged();
	}

	void OnCopyToClipboard(MouseEventArgs e)
	{
		StatusMessage = "URL Copied To Clipboard.";
		StateHasChanged();

		JSRuntime.InvokeAsync<object>("copyLocation");
	}

	void OnFlagsInputChanged(ChangeEventArgs e)
	{
		TrySetFlags((string)e.Value);
	}

	void TrySetFlags(string flags)
	{
		try
		{
			Flags.Flags = FF1Lib.Flags.DecodeFlagsText(flags);
			StatusMessage = "Successfully imported Flags.";
		}
		catch (Exception)
		{
			StatusMessage = "Invalid Flags String.";
		}
	}

	async Task LoadPreferences()
	{
		Preferences temp = await LocalStorage.GetItemAsync<Preferences>("preferences") ?? new Preferences();
		Flags.Preferences = temp;

	}

	async Task SavePreferences()
	{
		await LocalStorage.SetItemAsync("preferences", Flags.Preferences);
	}

	async Task LoadLastROM()
	{
		string encoded = await LocalStorage.GetItemAsync<string>("file");
		RememberROM = encoded != null && encoded.Length > 0;
		if (RememberROM)
		{
			SetFileData(encoded);
			RomMessage = "Using Remembered ROM.";
			StatusMessage += " Remembered last used ROM.";
		}
	}

	async Task OnRandomize(MouseEventArgs e)
	{
		if (_fileData == null)
		{
			StatusMessage = "Generate Failed: No ROM File Selected!";
			StateHasChanged();
			return;
		}

		using (var stream = new MemoryStream(_fileData))
		{
			_rom = new FF1Rom(stream);
		}

		if (RememberROM)
		{
			await LocalStorage.SetItemAsync("file", Convert.ToBase64String(_fileData));
		}
		else
		{
			await LocalStorage.RemoveItemAsync("file");
		}

		StatusMessage = "Generating Final Fantasy Randomizer ROM ... Please Wait ... ";
		StateHasChanged();

		await Task.Run(DoRandomize);
	}

	async Task DoRandomize()
	{
		Blob seed;
		try
		{
			if (_seed.Length != 8)
			{
				throw new Exception();
			}
			seed = Blob.FromHex(_seed);
		}
		catch (Exception)
		{
			StatusMessage = "Generate Failed: Invalid Seed Format";
			StateHasChanged();
			return;
		}

		try
		{

			_rom.Randomize(seed, Flags.Flags, Flags.Preferences);

			var data = new byte[512 * 1024 + 16];
			using (var stream = new MemoryStream(data, true))
			{
				_rom.Save(stream);
			}

			var encoded = Convert.ToBase64String(data);

			StatusMessage += "SUCCESS!";

			if (Flags.Spoilers)
			{
				StatusMessage += " SPOILER LOG IN BROWSER CONSOLE!";
			}

			StateHasChanged();

			await JSRuntime.InvokeAsync<object>("downloadROM", $"FFR_{_seed}_{Flags.Encoded}.nes", encoded);
		}
		catch (Exception e)
		{
			StatusMessage += "FAILURE: " + e.Message;
			StateHasChanged();
		}
	}

	void SetStatusMessage(string message)
	{
		StatusMessage = message;
		StateHasChanged();
	}
}

