@addTagHelper *, BlazorStrap
@page "/Randomize"
@using FF1Lib

<div>
	<input type="text" value="@Flags.EncodeFlagsText(MyFlags.Flags)"/>
	<BlazorNav IsTabs>
		<BlazorNavLink onclick="@ActivateShuffle" IsActive="@(activeTab == "Shuffle")">Shuffle</BlazorNavLink>
		<BlazorNavLink onclick="@ActivateTreasures" IsActive="@(activeTab == "Treasures")">Treasures</BlazorNavLink>
	</BlazorNav>
	<TabContent>
		<TabPane IsOpen="@(activeTab == "Shuffle")">
			<CheckBox Id="shopsCheckbox" bind-Value="@MyFlags.Shops">Shops</CheckBox>
			<CheckBox Id="enemyScriptsCheckbox" bind-Value="@MyFlags.EnemyScripts">Enemy Scripts</CheckBox>
		</TabPane>
		<TabPane IsOpen="@(activeTab == "Treasures")">
		</TabPane>
	</TabContent>
</div>

@functions
{
	private ViewModelFlags MyFlags { get; set; }

	private string activeTab = "Shuffle";

	void ActivateShuffle(UIMouseEventArgs e)
	{
		activeTab = "Shuffle";
		StateHasChanged();
	}

	void ActivateTreasures(UIMouseEventArgs e)
	{
		activeTab = "Treasures";
		StateHasChanged();
	}

	protected override void OnInit()
	{
		MyFlags = new ViewModelFlags();
		MyFlags.PropertyChanged += (sender, args) => StateHasChanged();
	}

}
