@page "/Randomize"
@using System.ComponentModel;
@using System.IO;
@using RomUtilities;
@using FF1Lib;
@using System.Text.Json.Serialization;
@using BlazorStrap
@using Microsoft.AspNetCore.Components.Web
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage


<div class="content px-4 tinted">
    <a href="https://en.wikipedia.org/wiki/George_Floyd" style="color: yellow; font-weight: bold; font-size: 24px; display: table; margin-left: auto; margin-right: auto;">#icantbreathe</a>
    <CascadingValue Value="@ToolTipId">
        <ToolTip @ref="ToolTipElement"></ToolTip>
        <button type="button" class="@(TabClasses("File"))" @onclick="@(() => ActivateTab("File"))">File</button>
        <BSCollapse IsOpen="@(activeTabs.Contains("File"))">
            <div class="is-dark nes-container">
                <div class="row spaced-row">
                    <div class="col-md-6">
                        <p>@RomMessage</p>
                        <input type="file" id="fileInput" @onchange="@OnFileChanged" />
                    </div>
                    <div class="col-md-6">
                        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="rememberCheckBox" @bind-Checked="RememberROM">Remember ROM</CheckBox>
                        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="tournamentSafeCheckBox" @bind-Checked="Flags.TournamentSafe">Tournament Safe ROM</CheckBox>
                        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="spoilersCheckBox" @bind-Checked="Flags.Spoilers">Generate Spoiler Log!</CheckBox>
                    </div>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row spaced-row">
                    <div class="col-md-4">
                        <p>
                            Seed:
                            <input type="text" style="width: calc(100% - 200px);" class="nes-input @(_seedInputClass)" id="seedInput" @onchange="@OnSeedInputChanged" value="@(_seed)" />
                            <button type="button" class="nes-btn is-primary" @onclick="@OnNewSeed">New</button>
                        </p>
                    </div>
                    <div class="col-md-8">
                        <p>
                            Flags:
                            <input style="width: calc(100% - 300px);" type="text" class="nes-input" value="@Flags.Encoded" @onchange="@OnFlagsInputChanged" />
                            <button type="button" class="nes-btn is-primary" @onclick="@OnCopyToClipboard">Export</button>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            Presets:
                            <button type="button" class="nes-btn is-primary" @onclick="@(() => LoadPreset("default"))">Default</button>
                            <button type="button" class="nes-btn is-primary" @onclick="@(() => LoadPreset("beginner"))">Beginner</button>
                            <button type="button" class="nes-btn is-primary" @onclick="@(() => LoadPreset("full-npc"))">NPC Shuffle</button>
                            <button type="button" class="nes-btn is-primary" @onclick="@(() => LoadPreset("improved-vanilla"))">Improved Vanilla</button>
                            <button type="button" class="nes-btn is-primary" @onclick="@(() => LoadPreset("chaos-rush"))">Chaos Rush</button>
                            <button type="button" class="nes-btn is-primary" @onclick="@(() => LoadPreset("debug"))">DEBUG</button>
                        </p>
                    </div>
                </div>
            </div>
        </BSCollapse>


        <br />
        <button type="button" class="nes-btn is-primary" @onclick="@OnRandomize">Generate ROM</button>
        <BSCollapse IsOpen="@(StatusMessage.Length > 0)">
            <div class="is-dark nes-container">
                @StatusMessage
            </div>

        </BSCollapse>


        <button type="button" class="@(TabClasses("Shuffle"))" @onclick="@(() => ActivateTab("Shuffle"))">Shuffle</button>
        <BSCollapse IsOpen=@(activeTabs.Contains("Shuffle"))>
            <div class="is-dark nes-container">
                <div class="row">
                    <div class="col-md-4">
                        <h4>Shops &amp; RNG</h4>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="shopsCheckBox" @bind-Value="Flags.Shops">Shops</TriStateCheckBox>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Indent IsEnabled="@Flags.Shops" Id="randomWaresCheckBox" @bind-Value="Flags.RandomWares">Random Weapons and Armor</TriStateCheckBox>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Indent IsEnabled="@((Flags.Shops ?? true) && (Flags.RandomWares ?? true))" Id="randomWaresIncludesCheckBox" @bind-Value="Flags.RandomWaresIncludesSpecialGear">Include Caster &amp; Elite Gear</TriStateCheckBox>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="magicShopsCheckBox" @bind-Value="Flags.MagicShops">Magic Shops</TriStateCheckBox>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="magicShopLocsCheckBox" @bind-Value="Flags.MagicShopLocs">Magic Shop Locations</TriStateCheckBox>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="magicLevelsCheckBox" @bind-Value="Flags.MagicLevels">Magic Levels</TriStateCheckBox>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Indent IsEnabled="@Flags.MagicLevels" Id="magicLevelsTieredCheckBox" @bind-Value="Flags.MagicLevelsTiered">Tiered Shuffle</TriStateCheckBox>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Indent IsEnabled="@Flags.MagicLevels" Id="magicLevelsMixed" @bind-Value="Flags.MagicLevelsMixed">Mix Spellbooks</TriStateCheckBox>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Indent IsEnabled="@Flags.MagicLevels" Id="magicPermissionsCheckBox" @bind-Value="Flags.MagicPermissions">Keep Permissions</TriStateCheckBox>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="itemMagicCheckBox" @bind-Value="Flags.ItemMagic">Item Magic</TriStateCheckBox>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Indent IsEnabled="@Flags.ItemMagic" Id="balancedItemMagicCheckBox" @bind-Value="Flags.BalancedItemMagicShuffle">Balanced Shuffle</TriStateCheckBox>
                        <div class="checkbox-cell"></div>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="rngCheckBox" @bind-Value="Flags.Rng">RNG Table</TriStateCheckBox>
                    </div>
                    <div class="col-md-4">
                        <h4>Enemies</h4>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="enemyScriptsCheckBox" @bind-Value="Flags.EnemyScripts">Enemy Scripts</TriStateCheckBox>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Indent IsEnabled="@Flags.EnemyScripts" Id="allowUnsafePiratesCheckBox" @bind-Value="Flags.AllowUnsafePirates">Allow Unsafe Pirates</TriStateCheckBox>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Indent IsEnabled="@Flags.EnemyScripts" Id="onlyShuffleBossScriptsCheckBox" @bind-Value="Flags.BossScriptsOnly">Only Shuffle Bosses</TriStateCheckBox>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="enemySkillsSpellsCheckBox" @bind-Value="Flags.EnemySkillsSpells">Enemy Skills/Spells</TriStateCheckBox>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Indent IsEnabled="@Flags.EnemySkillsSpells" Id="onlyShuffleBossSkillsCheckBox" @bind-Value="Flags.BossSkillsOnly">Only Shuffle Bosses</TriStateCheckBox>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Indent IsEnabled="@Flags.EnemySkillsSpells" Id="enemySkillsSpellsTieredCheckBox" @bind-Value="Flags.EnemySkillsSpellsTiered">Generate Balanced and Random Scripts</TriStateCheckBox>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="enemyStatusAttacksCheckBox" @bind-Value="Flags.EnemyStatusAttacks">Enemy Status Attacks</TriStateCheckBox>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Indent IsEnabled="@Flags.EnemyStatusAttacks" Id="enemyRandomAttacksCheckBox" @bind-Value="Flags.RandomStatusAttacks">Randomize Enemy Status Attacks</TriStateCheckBox>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="enemyFormationsUnrunnableCheckBox" @bind-Value="Flags.EnemyFormationsUnrunnable">Enemy Unrunnable Formations</TriStateCheckBox>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Indent IsEnabled="@Flags.EnemyFormationsUnrunnable" Id="everythingUnrunnableCheckBox" @bind-Value="Flags.EverythingUnrunnable">All Encounters are Unrunnable</TriStateCheckBox>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="unrunnablesStrikeFirstAndSurpriseCheckBox" @bind-Value="Flags.UnrunnablesStrikeFirstAndSurprise">Unrunnable First Strike &amp; Surprise</TriStateCheckBox>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="enemyFormationsSurpriseCheckBox" @bind-Value="Flags.EnemyFormationsSurprise">Enemy Surprise Bonus</TriStateCheckBox>
                        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="formationShuffleModeDropDown" TItem="FormationShuffleMode" IsEnabled="@(!Flags.RandomizeFormationEnemizer)" @bind-Value="Flags.FormationShuffleMode">Enemy Formations:</EnumDropDown>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="enemyTrapTilesCheckBox" IsEnabled="@(!Flags.RandomizeFormationEnemizer)" @bind-Value="Flags.EnemyTrapTiles">Enemy Forced Encounter Tiles</TriStateCheckBox>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Indent Id="randomTrapFormationsCheckBox" IsEnabled="@Flags.EnemyTrapTiles" @bind-Value="Flags.RandomTrapFormations">Use Random Formations</TriStateCheckBox>
                    </div>
                    <div class="col-md-4">
                        <h4>WarMECH</h4>
                        <p>Encounter 7 not enough WarMECH for you? Try a patrolling or required WarMECH instead.</p>
                        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="WarMECHModeDropDown" TItem="WarMECHMode" @bind-Value="Flags.WarMECHMode">WarMECH Mode: </EnumDropDown>
                    </div>
                </div>
            </div>
        </BSCollapse>


        <button type="button" class="@(TabClasses("Treasures"))" @onclick="@(() => ActivateTab("Treasures"))">Treasures &amp; Incentives</button>
        <BSCollapse IsOpen="@(activeTabs.Contains("Treasures"))">
            <div class="is-dark nes-container">
                <div class="row">
                    <div class="col-md-4">
                        <h4>Items Shuffle</h4>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="treasuresCheckBox" @bind-Value="Flags.Treasures">Treasures</TriStateCheckBox>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Indent Id="randomLootCheckBox" IsEnabled="@Flags.Treasures" @bind-Value="Flags.RandomLoot">Randomize Treasures</TriStateCheckBox>
                        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Indent Id="worldWealthDropDown" TItem="WorldWealthMode" IsEnabled="@Flags.Treasures" @bind-Value="Flags.WorldWealth">Random Wealth: </EnumDropDown>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Indent Id="betterTrapTreasureCheckBox" IsEnabled="@Flags.Treasures" @bind-Value="Flags.BetterTrapTreasure">Better Trap Treasure</TriStateCheckBox>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="npcItemsCheckBox" IsEnabled="@Flags.Treasures" @bind-Value="Flags.NPCItems">Main NPC Items</TriStateCheckBox>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="npcFetchItemsCheckBox" IsEnabled="@Flags.Treasures" @bind-Value="Flags.NPCFetchItems">Fetch Quest Rewards</TriStateCheckBox>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="shuffleObjectiveNPCsCheckBox" IsEnabled="@Flags.Treasures" @bind-Value="Flags.ShuffleObjectiveNPCs">Objective NPCs</TriStateCheckBox>
                        <div class="checkbox-cell"></div>
                        <h4>Freebies</h4>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="freeShipCheckBox" @bind-Value="Flags.FreeShip">Free Ship</TriStateCheckBox>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="freeAirshipCheckBox" @bind-Value="Flags.FreeAirship">Free Airship</TriStateCheckBox>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="freeBridgeCheckBox" @bind-Value="Flags.FreeBridge">Free Bridge</TriStateCheckBox>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="freeCanalCheckBox" @bind-Value="Flags.FreeCanal">Free Canal</TriStateCheckBox>
                    </div>
                    <div class="col-md-4">
                        <h4>Locations: @(Flags.Flags.IncentivizedLocationCountMin) @((Flags.Flags.IncentivizedLocationCountMin != Flags.Flags.IncentivizedLocationCountMax) ? "- " + Flags.Flags.IncentivizedLocationCountMax : "") </h4>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="incentivizeFreeNPCsCheckBox" IsEnabled="@Flags.IncentivizeFreeNPCsEnabled" @bind-Value="Flags.IncentivizeFreeNPCs">Main NPCs</TriStateCheckBox>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="incentivizeFetchNPCsCheckBox" IsEnabled="@Flags.IncentivizeFetchNPCsEnabled" @bind-Value="Flags.IncentivizeFetchNPCs">Fetch Quest NPCs</TriStateCheckBox>
                        <div class="checkbox-cell"></div>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="incentivizeIceCaveCheckBox" IsEnabled="@Flags.Treasures" @bind-Value="Flags.IncentivizeIceCave">Ice Cave</TriStateCheckBox>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="incentivizeOrdealsCheckBox" IsEnabled="@Flags.Treasures" @bind-Value="Flags.IncentivizeOrdeals">Ordeals</TriStateCheckBox>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="incentivizeMarshCheckBox" IsEnabled="@Flags.Treasures" @bind-Value="Flags.IncentivizeMarsh">Marsh Cave</TriStateCheckBox>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="incentivizeTitansCheckBox" IsEnabled="@Flags.Treasures" @bind-Value="Flags.IncentivizeTitansTrove">Titan's Trove</TriStateCheckBox>
                        <div class="checkbox-cell"></div>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="incentivizeEarthCheckBox" IsEnabled="@Flags.Treasures" @bind-Value="Flags.IncentivizeEarth">Earth Cave</TriStateCheckBox>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="incentivizeVolcanoCheckBox" IsEnabled="@Flags.Treasures" @bind-Value="Flags.IncentivizeVolcano">Volcano</TriStateCheckBox>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="incentivizeSeaShrineCheckBox" IsEnabled="@Flags.Treasures" @bind-Value="Flags.IncentivizeSeaShrine">Sea Shrine</TriStateCheckBox>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="incentivizeSkyPalaceCheckBox" IsEnabled="@Flags.Treasures" @bind-Value="Flags.IncentivizeSkyPalace">Sky Palace</TriStateCheckBox>
                        <div class="checkbox-cell"></div>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="incentivizeConeriaCheckBox" IsEnabled="@Flags.Treasures" @bind-Value="Flags.IncentivizeConeria">Coneria (locked)</TriStateCheckBox>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="incentivizeMarshKeyLockedCheckBox" IsEnabled="@Flags.Treasures" @bind-Value="Flags.IncentivizeMarshKeyLocked">Marsh (locked)</TriStateCheckBox>
                    </div>
                    <div class="col-md-4">
                        <h4>Items: @(Flags.Flags.IncentivizedItemCountMin) @((Flags.Flags.IncentivizedItemCountMin != Flags.Flags.IncentivizedItemCountMax) ? "- " + Flags.Flags.IncentivizedItemCountMax : "")</h4>
                        <p>@Flags.Flags.IncentivizedItems</p>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="incentivizeMainItemsCheckBox" IsEnabled="@Flags.Treasures" @bind-Value="Flags.IncentivizeMainItems">Main Progression Items</TriStateCheckBox>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="incentivizeFetchItemsCheckBox" IsEnabled="@Flags.Treasures" @bind-Value="Flags.IncentivizeFetchItems">Other Quest Items</TriStateCheckBox>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="incentivizeAirshipCheckBox" IsEnabled="@Flags.Treasures" @bind-Value="Flags.IncentivizeAirship">Floater</TriStateCheckBox>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="incentivizeCanoeItemCheckBox" IsEnabled="@Flags.Treasures" @bind-Value="Flags.IncentivizeCanoeItem">Canoe</TriStateCheckBox>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="incentivizeShipAndCanalCheckBox" IsEnabled="@Flags.Treasures" @bind-Value="Flags.IncentivizeShipAndCanal">Ship &amp; Canal</TriStateCheckBox>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="incentivizeTailCheckBox" IsEnabled="@Flags.Treasures" @bind-Value="Flags.IncentivizeTail">Tail</TriStateCheckBox>
                        <div class="checkbox-cell"></div>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="incentivizeMasamuneCheckBox" IsEnabled="@Flags.Treasures" @bind-Value="Flags.IncentivizeMasamune">Masamune</TriStateCheckBox>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="incentivizeVorpalCheckBox" IsEnabled="@Flags.Treasures" @bind-Value="Flags.IncentivizeVorpal">Vorpal</TriStateCheckBox>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="incentivizeDefCastWeaponCheckBox" IsEnabled="@Flags.Treasures" @bind-Value="Flags.IncentivizeDefCastWeapon">Defense</TriStateCheckBox>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="incentivizeOffCastWeaponCheckBox" IsEnabled="@Flags.Treasures" @bind-Value="Flags.IncentivizeOffCastWeapon">Thor Hammer</TriStateCheckBox>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="incentivizeOpalCheckBox" IsEnabled="@Flags.Treasures" @bind-Value="Flags.IncentivizeOpal">Opal Bracelet</TriStateCheckBox>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="incentivizeOtherCastArmorCheckBox" IsEnabled="@Flags.Treasures" @bind-Value="Flags.IncentivizeOtherCastArmor">Power Gauntlet</TriStateCheckBox>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="incentivizeDefCastArmorCheckBox" IsEnabled="@Flags.Treasures" @bind-Value="Flags.IncentivizeDefCastArmor">White Shirt</TriStateCheckBox>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="incentivizeOffCastArmorCheckBox" IsEnabled="@Flags.Treasures" @bind-Value="Flags.IncentivizeOffCastArmor">Black Shirt</TriStateCheckBox>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="incentivizeRibbonCheckBox" IsEnabled="@Flags.Treasures" @bind-Value="Flags.IncentivizeRibbon">Ribbon</TriStateCheckBox>
                    </div>
                </div>
            </div>
        </BSCollapse>


        <button type="button" class="@(TabClasses("Goal"))" @onclick="@(() => ActivateTab("Goal"))">Goal</button>
        <BSCollapse IsOpen="@(activeTabs.Contains("Goal"))">
            <div class="is-dark nes-container">
                <div class="row">
                    <div class="col-md-4">
                        <h4>Chaos Rush</h4>
                        <p>No time for a long race? Chaos Rush combined with Free Orbs lets you begin the game with the Temple of Fiends Revisited completely unlocked!</p>
                        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="chaosRushCheckBox" @bind-Checked="Flags.ChaosRush">CHAOS Rush</CheckBox>
                        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="freeOrbsCheckBox" IsEnabled="@Flags.FreeOrbsEnabled" @bind-Checked="Flags.FreeOrbs">Free Orbs</CheckBox>
                    </div>
                    <div class="col-md-4">
                        <h4>Treasure Hunt</h4>
                        <p>A new adventure! Instead of lighting the four orbs to activate the BLACK ORB, the Light Warriors must seek out and collect several of a random treasure item.</p>
                        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="shardHuntCheckBox" IsEnabled="@Flags.ShardHuntEnabled" @bind-Checked="Flags.ShardHunt">Treasure Hunt</CheckBox>
                        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="shardCountDropDown" TItem="ShardCount" @bind-Value="Flags.ShardCount">Goal:</EnumDropDown>
                    </div>
                    <div class="col-md-4">
                        <h4>Temple of Fiends</h4>
                        <p>Randomly pick one of four new final bosses to replace the legendary Chaos! Take heed though; they can be more than a match for all but the mightiest Warriors.</p>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="transformFinalFormationCheckBox" @bind-Value="Flags.TransformFinalFormation">Alternate Final Boss</TriStateCheckBox>
                        <p>Jump straight from the Black Orb to the Final Battle! You may choose to keep the fiend refight tiles - two on each side of the path to Chaos.</p>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="shortToFRCheckBox" @bind-Value="Flags.ShortToFR">Shorten ToFR</TriStateCheckBox>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="preserveFiendRefightsCheckBox" IsEnabled="@Flags.ShortToFR" @bind-Value="Flags.PreserveFiendRefights">Include Fiend Tiles</TriStateCheckBox>
                    </div>
                </div>
            </div>
        </BSCollapse>


        <button type="button" class="@(TabClasses("Map"))" @onclick="@(() => ActivateTab("Map"))">Maps &amp; Routing</button>
        <BSCollapse IsOpen="@(activeTabs.Contains("Map"))">
            <div class="is-dark nes-container">
                <div class="row">
                    <div class="col-md-4">
                        <h4>Entrance Shuffle</h4>
                        <p>Try shuffling dungeon entrances, floors, and towns to create a completely new world to explore!</p>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="entrancesCheckBox" @bind-Value="Flags.Entrances">Entrances</TriStateCheckBox>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Indent Id="deadEndsCheckBox" IsEnabled="@Flags.Entrances" @bind-Value="Flags.EntrancesIncludesDeadEnds">Include Dead Ends</TriStateCheckBox>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Indent Id="floorsCheckBox" IsEnabled="@Flags.Entrances" @bind-Value="Flags.Floors">Floors</TriStateCheckBox>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Indent Id="allowDeepCastlesCheckBox" IsEnabled="@Flags.DeepCastlesPossible" @bind-Value="Flags.AllowDeepCastles">Deep ToFR</TriStateCheckBox>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="townsCheckBox" @bind-Value="Flags.Towns">Towns</TriStateCheckBox>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Indent Id="mixEntrancesCheckBox" IsEnabled="@(Flags.Towns & Flags.Entrances)" @bind-Value="Flags.EntrancesMixedWithTowns">Mix All Entrances Together</TriStateCheckBox>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Indent Id="deepTownsCheckBox" IsEnabled="@(Flags.DeepTownsPossible)" @bind-Value="Flags.AllowDeepTowns">Deep Towns</TriStateCheckBox>
                    </div>
					<div class="col-md-4">
						<h4>Progression</h4>
						<p>Relax some requirements to accelerate routing.</p>
						<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="mapOpenProgressionCheckBox" @bind-Value="Flags.MapOpenProgression">Open Southern Progression</TriStateCheckBox>
						<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="mapOpenProgressionDocksCheckBox" @bind-Value="Flags.MapOpenProgressionDocks">Open Northern Progression</TriStateCheckBox>
						<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="mapOpenProgressionExtendedCheckBox" IsEnabled="@Flags.MapOpenProgression" @bind-Value="Flags.MapOpenProgressionExtended">Extended Open Progression</TriStateCheckBox>
						<div class="checkbox-cell"></div>
						<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="earlyKingCheckBox" @bind-Value="Flags.EarlyKing">Early King Item</TriStateCheckBox>
						<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="earlySardaCheckBox" @bind-Value="Flags.EarlySarda">Early Sarda Item</TriStateCheckBox>
						<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="earlySageCheckBox" @bind-Value="Flags.EarlySage">Early Sage Item</TriStateCheckBox>
						<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="earlyOrdealsCheckBox" @bind-Value="Flags.EarlyOrdeals">Early Ordeals</TriStateCheckBox>
					</div>
                    <div class="col-md-4">
                        <h4>Isolated Map Edits</h4>
                        <p>Individual Final Fantasy Map edits.</p>
                        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="skyCastle4FMazeModeDropDown" TItem="SkyCastle4FMazeMode" @bind-Value="Flags.SkyCastle4FMazeMode">Sky Castle 4F: </EnumDropDown>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="ordealsPillarsCheckBox" @bind-Value="Flags.OrdealsPillars">Castle Ordeals Pillars</TriStateCheckBox>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="titansTroveCheckBox" @bind-Value="Flags.TitansTrove">Titan's Trove</TriStateCheckBox>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="zozoMelmondCheckBox" @bind-Value="Flags.AllowUnsafeMelmond">Zozo Melmond</TriStateCheckBox>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="lefeinShopsCheckBox" @bind-Value="Flags.LefeinShops">Lefeinish Hospitality</TriStateCheckBox>
                        <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="confusedOldMenCheckBox" @bind-Value="Flags.ConfusedOldMen">Confused Old Men</TriStateCheckBox>
                    </div>

                </div>
            </div>
        </BSCollapse>


        <button type="button" class="@(TabClasses("Scale"))" @onclick="@(() => ActivateTab("Scale"))">Scale</button>
        <BSCollapse IsOpen="@(activeTabs.Contains("Scale"))">
            <div class="is-dark nes-container">
                <ClampedSlider Min="1" Max="5" Step="0.1" UpdateToolTip="@UpdateToolTipID" Id="clampMinimumPriceScaleLable" @bind-Clamp="Flags.ClampMinimumPriceScale" @bind-Scale="Flags.PriceScaleFactor">Prices:</ClampedSlider>
                <ClampedSlider Min="1" Max="5" Step="0.1" UpdateToolTip="@UpdateToolTipID" Id="clampMinimumStatScaleLable" @bind-Clamp="Flags.ClampMinimumStatScale" @bind-Scale="Flags.EnemyScaleFactor">Enemy Stats:</ClampedSlider>
                <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Indent Id="separateEnemyHPScalingCheckBox" @bind-Value="Flags.SeparateEnemyHPScaling">Separate Enemy HP Scaling</TriStateCheckBox>
                <ClampedSlider Min="1" Max="5" Step="0.1" Indent IsEnabled="@Flags.SeparateEnemyHPScaling" UpdateToolTip="@UpdateToolTipID" Id="clampEnemyHpScaleLable" @bind-Clamp="Flags.ClampEnemyHpScaling" @bind-Scale="Flags.EnemyHPScaleFactor">Enemy HP:</ClampedSlider>

                <ClampedSlider Min="1" Max="5" Step="0.1" UpdateToolTip="@UpdateToolTipID" Id="clampMinimumBossScaleLable" @bind-Clamp="Flags.ClampMinimumBossStatScale" @bind-Scale="Flags.BossScaleFactor">Boss Stats:</ClampedSlider>
                <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Indent Id="separateBossHPScalingCheckBox" @bind-Value="Flags.SeparateBossHPScaling">Separate Boss HP Scaling</TriStateCheckBox>
                <ClampedSlider Min="1" Max="5" Step="0.1" Indent IsEnabled="@Flags.SeparateBossHPScaling" UpdateToolTip="@UpdateToolTipID" Id="clampBossHpScaleLable" @bind-Clamp="Flags.ClampBossHPScaling" @bind-Scale="Flags.BossHPScaleFactor">Boss HP:</ClampedSlider>

                <div class="slider-cell"></div>
                <div class="row">
                    <div class="col-md-5">
                        <p>Exp/Gold Boost:</p>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <p>@Math.Round(Flags.ExpMultiplier, 1).ToString("F1")x + @Flags.ExpBonus</p>
                    </div>
                    <div class="col-md-4">
                        <Slider @bind-Value="Flags.ExpMultiplier" Min="1" Max="5" Step="0.1"></Slider>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8"></div>
                    <div class="col-md-4">
                        <Slider @bind-Value="Flags.ExpBonus" Min="0" Max="500" Step="10"></Slider>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-xs-6"><p>Exp/Gold Progressive Scaling:</p></div>
                    <div class="col-md-4 col-xs-6">
                        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="progressiveScaleModeDropDown" TItem="ProgressiveScaleMode" @bind-Value="Flags.ProgressiveScaleMode"></EnumDropDown>
                    </div>
                </div>
                <div class="slider-cell"></div>
                <div class="row">
                    <div class="col-md-5">
                        <p>Overworld Encounter Rate:</p>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <p>@Math.Round(Flags.EncounterRate / 30.0, 2).ToString("F2")x</p>
                    </div>
                    <div class="col-md-4">
                        <Slider @bind-Value="Flags.EncounterRate" Min="0" Max="45" Step="1"></Slider>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <p>Dungeon Encounter Rate:</p>
                    </div>
                    <div class="col-md-3">
                        <p>@Math.Round(Flags.DungeonEncounterRate / 30.0, 2).ToString("F2")x</p>
                    </div>
                    <div class="col-md-4">
                        <Slider @bind-Value="Flags.DungeonEncounterRate" Min="0" Max="45" Step="1"></Slider>
                    </div>
                </div>
                <div class="row">
                    &nbsp;
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="wrapPriceOverflowCheckBox" @bind-Checked="Flags.WrapPriceOverflow">Wrap Overflowing Prices</CheckBox>
                        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="wrapStatOverflowCheckBox" @bind-Checked="Flags.WrapStatOverflow">Wrap Overflowing Scaled Stats</CheckBox>
                        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="includeMoraleCheckBox" @bind-Checked="Flags.IncludeMorale">Scaled Stats Includes Morale</CheckBox>
                        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="noDanModeCheckBox" @bind-Checked="Flags.NoDanMode">Static EXP Distribution</CheckBox>
                        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="startingGoldCheckBox" @bind-Checked="Flags.StartingGold">Scale Starting Gold</CheckBox>
                        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="easyModeCheckBox" @bind-Checked="Flags.EasyMode">Easy Mode</CheckBox>
                    </div>
                </div>
            </div>
        </BSCollapse>


        <button type="button" class="@(TabClasses("Party"))" @onclick="@(() => ActivateTab("Party"))">Party</button>
        <BSCollapse IsOpen="@(activeTabs.Contains("Party"))">
            <div class="is-dark nes-container">
                <h4>Party Composition</h4>
                <br />
                <div class="table-wrapper">
                    <table>
                        <tr class="odd">
                            <td>Permitted Classes</td>
                            <td>Forced?</td>
                            <td>Fighter</td>
                            <td>Thief</td>
                            <td>Black Belt</td>
                            <td>Red Mage</td>
                            <td>White Mage</td>
                            <td>Black Mage</td>
                            <td>None!</td>
                        </tr>
                        <tr>
                            <td>Member 1</td>
                            <td><TriStateCheckBox DisableTooltip UpdateToolTip="@UpdateToolTipID" Id="partyForced1" @bind-Value="Flags.FORCED1"></TriStateCheckBox></td>
                            <td><TriStateCheckBox DisableTooltip UpdateToolTip="@UpdateToolTipID" Id="partyFighter1" @bind-Value="Flags.FIGHTER1"></TriStateCheckBox></td>
                            <td><TriStateCheckBox DisableTooltip UpdateToolTip="@UpdateToolTipID" Id="partyThief1" @bind-Value="Flags.THIEF1"></TriStateCheckBox></td>
                            <td><TriStateCheckBox DisableTooltip UpdateToolTip="@UpdateToolTipID" Id="partyBlackBelt1" @bind-Value="Flags.BLACK_BELT1"></TriStateCheckBox></td>
                            <td><TriStateCheckBox DisableTooltip UpdateToolTip="@UpdateToolTipID" Id="partyRedMage1" @bind-Value="Flags.RED_MAGE1"></TriStateCheckBox></td>
                            <td><TriStateCheckBox DisableTooltip UpdateToolTip="@UpdateToolTipID" Id="partyWhiteMage1" @bind-Value="Flags.WHITE_MAGE1"></TriStateCheckBox></td>
                            <td><TriStateCheckBox DisableTooltip UpdateToolTip="@UpdateToolTipID" Id="partyBlackMage1" @bind-Value="Flags.BLACK_MAGE1"></TriStateCheckBox></td>
                            <td></td>
                        </tr>
                        <tr class="odd">
                            <td>Member 2</td>
                            <td><TriStateCheckBox DisableTooltip UpdateToolTip="@UpdateToolTipID" Id="partyForced2" @bind-Value="Flags.FORCED2"></TriStateCheckBox></td>
                            <td><TriStateCheckBox DisableTooltip UpdateToolTip="@UpdateToolTipID" Id="partyFighter2" @bind-Value="Flags.FIGHTER2"></TriStateCheckBox></td>
                            <td><TriStateCheckBox DisableTooltip UpdateToolTip="@UpdateToolTipID" Id="partyThief2" @bind-Value="Flags.THIEF2"></TriStateCheckBox></td>
                            <td><TriStateCheckBox DisableTooltip UpdateToolTip="@UpdateToolTipID" Id="partyBlackBelt2" @bind-Value="Flags.BLACK_BELT2"></TriStateCheckBox></td>
                            <td><TriStateCheckBox DisableTooltip UpdateToolTip="@UpdateToolTipID" Id="partyRedMage2" @bind-Value="Flags.RED_MAGE2"></TriStateCheckBox></td>
                            <td><TriStateCheckBox DisableTooltip UpdateToolTip="@UpdateToolTipID" Id="partyWhiteMage2" @bind-Value="Flags.WHITE_MAGE2"></TriStateCheckBox></td>
                            <td><TriStateCheckBox DisableTooltip UpdateToolTip="@UpdateToolTipID" Id="partyBlackMage2" @bind-Value="Flags.BLACK_MAGE2"></TriStateCheckBox></td>
                            <td><TriStateCheckBox DisableTooltip UpdateToolTip="@UpdateToolTipID" Id="partyNone2" @bind-Value="Flags.NONE_CLASS2"></TriStateCheckBox></td>
                        </tr>
                        <tr>
                            <td>Member 3</td>
                            <td><TriStateCheckBox DisableTooltip UpdateToolTip="@UpdateToolTipID" Id="partyForced3" @bind-Value="Flags.FORCED3"></TriStateCheckBox></td>
                            <td><TriStateCheckBox DisableTooltip UpdateToolTip="@UpdateToolTipID" Id="partyFighter3" @bind-Value="Flags.FIGHTER3"></TriStateCheckBox></td>
                            <td><TriStateCheckBox DisableTooltip UpdateToolTip="@UpdateToolTipID" Id="partyThief3" @bind-Value="Flags.THIEF3"></TriStateCheckBox></td>
                            <td><TriStateCheckBox DisableTooltip UpdateToolTip="@UpdateToolTipID" Id="partyBlackBelt3" @bind-Value="Flags.BLACK_BELT3"></TriStateCheckBox></td>
                            <td><TriStateCheckBox DisableTooltip UpdateToolTip="@UpdateToolTipID" Id="partyRedMage3" @bind-Value="Flags.RED_MAGE3"></TriStateCheckBox></td>
                            <td><TriStateCheckBox DisableTooltip UpdateToolTip="@UpdateToolTipID" Id="partyWhiteMage3" @bind-Value="Flags.WHITE_MAGE3"></TriStateCheckBox></td>
                            <td><TriStateCheckBox DisableTooltip UpdateToolTip="@UpdateToolTipID" Id="partyBlackMage3" @bind-Value="Flags.BLACK_MAGE3"></TriStateCheckBox></td>
                            <td><TriStateCheckBox DisableTooltip UpdateToolTip="@UpdateToolTipID" Id="partyNone3" @bind-Value="Flags.NONE_CLASS3"></TriStateCheckBox></td>
                        </tr>
                        <tr class="odd">
                            <td>Member 4</td>
                            <td><TriStateCheckBox DisableTooltip UpdateToolTip="@UpdateToolTipID" Id="partyForced4" @bind-Value="Flags.FORCED4"></TriStateCheckBox></td>
                            <td><TriStateCheckBox DisableTooltip UpdateToolTip="@UpdateToolTipID" Id="partyFighter4" @bind-Value="Flags.FIGHTER4"></TriStateCheckBox></td>
                            <td><TriStateCheckBox DisableTooltip UpdateToolTip="@UpdateToolTipID" Id="partyThief4" @bind-Value="Flags.THIEF4"></TriStateCheckBox></td>
                            <td><TriStateCheckBox DisableTooltip UpdateToolTip="@UpdateToolTipID" Id="partyBlackBelt4" @bind-Value="Flags.BLACK_BELT4"></TriStateCheckBox></td>
                            <td><TriStateCheckBox DisableTooltip UpdateToolTip="@UpdateToolTipID" Id="partyRedMage4" @bind-Value="Flags.RED_MAGE4"></TriStateCheckBox></td>
                            <td><TriStateCheckBox DisableTooltip UpdateToolTip="@UpdateToolTipID" Id="partyWhiteMage4" @bind-Value="Flags.WHITE_MAGE4"></TriStateCheckBox></td>
                            <td><TriStateCheckBox DisableTooltip UpdateToolTip="@UpdateToolTipID" Id="partyBlackMage4" @bind-Value="Flags.BLACK_MAGE4"></TriStateCheckBox></td>
                            <td><TriStateCheckBox DisableTooltip UpdateToolTip="@UpdateToolTipID" Id="partyNone4" @bind-Value="Flags.NONE_CLASS4"></TriStateCheckBox></td>
                        </tr>
                    </table>
                </div>
                <br />
                <h4>Tavern Recruitment</h4>
                <div class="col-md-12">
                    <p>Enable Tavern Recruitment to unlock the ability to build a party as you go!</p>
                    <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="tavernMode" @bind-Value="Flags.RecruitmentMode">Tavern Recruitment Mode</TriStateCheckBox>
                    <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Indent IsEnabled="@Flags.RecruitmentMode" Id="tavernModeHireOnly" @bind-Value="Flags.RecruitmentModeHireOnly">Disable Reviving at Taverns</TriStateCheckBox>
                    <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Indent IsEnabled="@Flags.RecruitmentMode" Id="tavernModeReplaceOnlyNone" @bind-Value="Flags.RecruitmentModeReplaceOnlyNone">Only Replace Nones at Taverns</TriStateCheckBox>
                </div>
                <div class="table-wrapper">
                    <table>
                        <tr class="odd">
                            <td>Hireable Advernturers</td>
                            <td>Fighter</td>
                            <td>Thief</td>
                            <td>Black Belt</td>
                            <td>Red Mage</td>
                            <td>White Mage</td>
                            <td>Black Mage</td>
                        </tr>
                        <tr>
                            <td>Select to allow</td>
                            <td><TriStateCheckBox DisableTooltip UpdateToolTip="@UpdateToolTipID" IsEnabled="@Flags.RecruitmentMode" Id="TavernFighter" @bind-Value="Flags.TAVERN1"></TriStateCheckBox></td>
                            <td><TriStateCheckBox DisableTooltip UpdateToolTip="@UpdateToolTipID" IsEnabled="@Flags.RecruitmentMode" Id="TavernThief" @bind-Value="Flags.TAVERN2"></TriStateCheckBox></td>
                            <td><TriStateCheckBox DisableTooltip UpdateToolTip="@UpdateToolTipID" IsEnabled="@Flags.RecruitmentMode" Id="TavernBlackBelt" @bind-Value="Flags.TAVERN3"></TriStateCheckBox></td>
                            <td><TriStateCheckBox DisableTooltip UpdateToolTip="@UpdateToolTipID" IsEnabled="@Flags.RecruitmentMode" Id="TavernRedMage" @bind-Value="Flags.TAVERN4"></TriStateCheckBox></td>
                            <td><TriStateCheckBox DisableTooltip UpdateToolTip="@UpdateToolTipID" IsEnabled="@Flags.RecruitmentMode" Id="TavernWhiteMage" @bind-Value="Flags.TAVERN5"></TriStateCheckBox></td>
                            <td><TriStateCheckBox DisableTooltip UpdateToolTip="@UpdateToolTipID" IsEnabled="@Flags.RecruitmentMode" Id="TavernBlackMage" @bind-Value="Flags.TAVERN6"></TriStateCheckBox></td>
                        </tr>
                    </table>
                </div>
                <br />
                <h4>Party Balance</h4>
                <div class="col-md-12">
                    <TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="ChangeMaxMP" @bind-Value="@Flags.ChangeMaxMP">Change Class Max MP</TriStateCheckBox>
                    <IntSlider Indent Min="1" Max="9" Step="1" DisableTooltip UpdateToolTip="@UpdateToolTipID" IsEnabled="@Flags.ChangeMaxMP" Id="RedMageMaxMP" @bind-Value="@Flags.RedMageMaxMP">Red Mage Max MP:</IntSlider>
                    <IntSlider Indent Min="1" Max="9" Step="1" DisableTooltip UpdateToolTip="@UpdateToolTipID" IsEnabled="@Flags.ChangeMaxMP" Id="WhiteMageMaxMP" @bind-Value="@Flags.WhiteMageMaxMP">White Mage Max MP:</IntSlider>
                    <IntSlider Indent Min="1" Max="9" Step="1" DisableTooltip UpdateToolTip="@UpdateToolTipID" IsEnabled="@Flags.ChangeMaxMP" Id="BlackMageMaxMP" @bind-Value="@Flags.BlackMageMaxMP">Black Mage Max MP:</IntSlider>
                    <IntSlider Indent Min="1" Max="9" Step="1" UpdateToolTip="@UpdateToolTipID" IsEnabled="@Flags.ChangeMaxMP" Id="KnightNinjaMaxMP" @bind-Value="@Flags.KnightNinjaMaxMP">Knight/Ninja Max MP:</IntSlider>
                </div>
            </div>
        </BSCollapse>


        <button type="button" class="@(TabClasses("Conveniences"))" @onclick="@(() => ActivateTab("Conveniences"))">Conveniences</button>
        <BSCollapse IsOpen="@(activeTabs.Contains("Conveniences"))">
            <div class="is-dark nes-container">
                <div class="row">
                    <div class="col-md-12">
                        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="noPartyShuffleCheckBox" @bind-Checked="Flags.NoPartyShuffle">No Party Shuffle</CheckBox>
                        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="speedHacksCheckBox" @bind-Checked="Flags.SpeedHacks">Speed Hacks</CheckBox>
                        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="identifyTreasuresCheckBox" @bind-Checked="Flags.IdentifyTreasures">Identify Treasures</CheckBox>
                        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="dashCheckBox" @bind-Checked="Flags.Dash">Enable Dash</CheckBox>
                        <CheckBox UpdateToolTip="@UpdateToolTipID" IsEnabled="@(!Flags.BuyTenOld)" Id="buyTenCheckBox" @bind-Checked="Flags.BuyTen">Buy Quantity</CheckBox>
                        <CheckBox UpdateToolTip="@UpdateToolTipID" IsEnabled="@(!Flags.BuyTen)" Id="buyTenOldCheckBox" @bind-Checked="Flags.BuyTenOld">Buy Ten (old)</CheckBox>
                        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="waitWhenUnrunnableCheckBox" @bind-Checked="Flags.WaitWhenUnrunnable">Change Unrunnable RUN to WAIT</CheckBox>
                        <CheckBox UpdateToolTip="@UpdateToolTipID" IsEnabled="@Flags.SpeedHacks" Id="enableCritNumberDisplayCheckBox" @bind-Checked="Flags.EnableCritNumberDisplay">Critical Hit Count Display</CheckBox>
                        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="inventoryAutosortCheckBox" @bind-Checked="Flags.InventoryAutosort">Autosort Inventory</CheckBox>
                    </div>
                </div>
            </div>
        </BSCollapse>


        <button type="button" class="@(TabClasses("Bug Fixes"))" @onclick="@(() => ActivateTab("Bug Fixes"))">Bug Fixes &amp; Rebalancing</button>
        <BSCollapse IsOpen="@(activeTabs.Contains("Bug Fixes"))">
            <div class="is-dark nes-container">
                <div class="row">
                    <div class="col-md-6">
                        <h4>Bugs</h4>
                        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="houseMPRestorationCheckBox" @bind-Checked="Flags.HouseMPRestoration">House MP Restoration</CheckBox>
                        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="weaponStatsCheckBox" @bind-Checked="Flags.WeaponStats">Weapon Stats</CheckBox>
                        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="chanceToRunCheckBox" @bind-Checked="Flags.ChanceToRun">Chance to Run</CheckBox>
                        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="spellBugsCheckBox" @bind-Checked="Flags.SpellBugs">Spell Fixes</CheckBox>
                        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="enemyStatusAttackBugCheckBox" @bind-Checked="Flags.EnemyStatusAttackBug">Enemy Status Attacks</CheckBox>
                        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="blackBeltAbsorbCheckBox" @bind-Checked="Flags.BlackBeltAbsorb">Bl. Belt & Master Absorb Calculation</CheckBox>
                        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="enemyElementalResistancesCheckBox" @bind-Checked="Flags.EnemyElementalResistancesBug">Enemy Elemental Resistances</CheckBox>
                        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="enemySpellsTargetingAlliesCheckBox" @bind-Checked="Flags.EnemySpellsTargetingAllies">Enemy Spells Targeting Allies</CheckBox>
                        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="improveTurnOrderRandomizationCheckBox" @bind-Checked="Flags.ImproveTurnOrderRandomization">Improve Turn Order Randomization</CheckBox>
                        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="fixHitChanceCapCheckBox" @bind-Checked="Flags.FixHitChanceCap">Fix Hit % Cap</CheckBox>
                    </div>
                    <div class="col-md-6">
                        <h4>Balance</h4>
                        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="doubleBBCritCheckBox" @bind-Checked="Flags.BBCritRate">Halve BB Crit Rate</CheckBox>
                        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="doubleWeaponCritCheckBox" @bind-Checked="Flags.WeaponCritRate">Double Weapon Crit Rate</CheckBox>
                        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="increaseWepBonusesCheckBox" @bind-Checked="Flags.WeaponBonuses">Increase Weapon Elemental and Type Bonuses</CheckBox>
                        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="thiefHitCheckBox" @bind-Checked="Flags.ThiefHitRate">Double Thief &amp; Ninja Hit% growth.</CheckBox>
                        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="cureHealBuffCheckBox" @bind-Checked="Flags.BuffHealingSpells">Improve CURE, HEAL, LAMP, and AMUT spells</CheckBox>
                        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="housesFillHpCheckBox" @bind-Checked="Flags.HousesFillHP">House Full HP Restoration</CheckBox>
                        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="LockMode" TItem="LockHitMode" @bind-Value="Flags.LockMode">LOCK and LOK2 Mode:</EnumDropDown>
                        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="MDefModeDropDown" TItem="MDEFGrowthMode" @bind-Value="Flags.MDefMode">MDEF Growth:</EnumDropDown>
                    </div>

                </div>
            </div>
        </BSCollapse>


        <button type="button" class="@(TabClasses("Experimental"))" @onclick="@(() => ActivateTab("Experimental"))">Experimental</button>
        <BSCollapse IsOpen="@(activeTabs.Contains("Experimental"))">
            <div class="is-dark nes-container">
                <div class="row">
                    <p>Test out features from 2000 years in the future - at your own risk!</p>
					<div class="col-md-12">
						<CheckBox UpdateToolTip="@UpdateToolTipID" Id="proceduralGenerationCheckBox" @bind-Checked="Flags.ExperimentalFloorGeneration">Enable Procedural Floor Generation</CheckBox>
						<CheckBox UpdateToolTip="@UpdateToolTipID" Indent IsEnabled="@Flags.ExperimentalFloorGeneration" Id="procGenWaterfall" @bind-Checked="Flags.EFGWaterfall">Generated Waterfall Cave</CheckBox>
						<CheckBox UpdateToolTip="@UpdateToolTipID" Indent IsEnabled="@Flags.ExperimentalFloorGeneration" Id="procGenEarth1" @bind-Checked="Flags.EFGEarth1">Generated Earth Cave B1</CheckBox>
						<CheckBox UpdateToolTip="@UpdateToolTipID" Indent IsEnabled="@Flags.ExperimentalFloorGeneration" Id="procGenEarth2" @bind-Checked="Flags.EFGEarth2">Generated Earth Cave B2</CheckBox>
						<div class="checkbox-cell"></div>
						<CheckBox UpdateToolTip="@UpdateToolTipID" Id="fiendShuffleCheckBox" @bind-Checked="Flags.FiendShuffle">Shuffle the Four Original Fiend Fights</CheckBox>
						<div class="checkbox-cell"></div>
						<CheckBox UpdateToolTip="@UpdateToolTipID" Id="itemPlacementCheckBox" IsEnabled="@Flags.Treasures" @bind-Checked="Flags.ClassicItemPlacement">Use Older v2 Placement</CheckBox>
						<div class="checkbox-cell"></div>
						<CheckBox UpdateToolTip="@UpdateToolTipID" Id="npcSwatterCheckBox" @bind-Checked="Flags.NPCSwatter">NPC Guillotine</CheckBox>
						<div class="checkbox-cell"></div>
						<CheckBox UpdateToolTip="@UpdateToolTipID" Id="disableTentSaving" @bind-Checked="Flags.DisableTentSaving">Disable Tent/Cabin/House Saving on Overworld</CheckBox>
						<CheckBox UpdateToolTip="@UpdateToolTipID" Id="disableInnSaving" @bind-Checked="Flags.DisableInnSaving">Disable Inn Saving</CheckBox>
						<CheckBox UpdateToolTip="@UpdateToolTipID" Id="saveGameWhenGameOverCheckBox" @bind-Checked="Flags.SaveGameWhenGameOver">Save Game When Game Over</CheckBox>
						<CheckBox UpdateToolTip="@UpdateToolTipID" Indent Id="saveGameDWModeCheckBox" IsEnabled="@Flags.SaveGameWhenGameOver" @bind-Checked="Flags.SaveGameDWMode">Dragon Warrior Mode</CheckBox>
						<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="shuffleAstosCheckBox" @bind-Value="Flags.ShuffleAstos">Shuffle Astos</TriStateCheckBox>
						<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="randomizeFormationEnemizer" @bind-Value="Flags.RandomizeFormationEnemizer">Generate New Formations (Enemizer)</TriStateCheckBox>
						<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="randomizeEnemizer" IsEnabled="@Flags.RandomizeFormationEnemizer" @bind-Value="Flags.RandomizeEnemizer">Generate New Enemies (Enemizer)</TriStateCheckBox>
						<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="generateNewSpellbook" @bind-Value="Flags.GenerateNewSpellbook">Generate New Spellbook (Spellcrafter)</TriStateCheckBox>
						<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="spellcrafterRetainPermissions" IsEnabled="@Flags.GenerateNewSpellbook" @bind-Value="Flags.SpellcrafterRetainPermissions">Retain Old Permissions (Spellcrafter)</TriStateCheckBox>
						<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="spellcrafterMixSpells" IsEnabled="@Flags.GenerateNewSpellbook" @bind-Value="Flags.SpellcrafterMixSpells">Mix spellbooks (Spellcrafter)</TriStateCheckBox>
						<CheckBox UpdateToolTip="@UpdateToolTipID" Id="AllSpellLevelsForKnightNinja" @bind-Checked="Flags.AllSpellLevelsForKnightNinja">Knight and Ninja Gain Charges in All Levels</CheckBox>
						<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="FreeTail" @bind-Value="Flags.FreeTail">Free Tail</TriStateCheckBox>
						<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="RandomWeaponBonus" @bind-Value="Flags.RandomWeaponBonus">Random Weapon Bonus</TriStateCheckBox>
						<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="RandomArmorBonus" @bind-Value="Flags.RandomArmorBonus">Random Armor Bonus</TriStateCheckBox>
						<CheckBox UpdateToolTip="@UpdateToolTipID" Id="fixMissingBattleRngEntry" @bind-Checked="Flags.FixMissingBattleRngEntry">Fix Missing Battle RNG Entry</CheckBox>
						<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="swolePiratesCheckBox" @bind-Value="Flags.SwolePirates">Buffed Pirates</TriStateCheckBox>
						<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="EnablePoolParty" @bind-Value="Flags.EnablePoolParty">Select Party From Pool of Random Characters</TriStateCheckBox>
						<EnumDropDown UpdateToolTip="@UpdateToolTipID" Indent IsEnabled="@Flags.EnablePoolParty" Id="PoolSizeDropDown" TItem="PoolSize" @bind-Value="Flags.PoolSize">Pool Size :</EnumDropDown>
						<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Indent IsEnabled="@Flags.EnablePoolParty" Id="PPIncludePromotedClasses" @bind-Value="Flags.IncludePromClasses">Include Promoted Classes</TriStateCheckBox>
						<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Id="EnableRandomPromotions" @bind-Value="Flags.EnableRandomPromotions">Random Classes at Class Change</TriStateCheckBox>
						<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Indent IsEnabled="@Flags.EnableRandomPromotions" Id="RPIncludeBaseClasses" @bind-Value="Flags.IncludeBaseClasses">Include Base Classes</TriStateCheckBox>
						<TriStateCheckBox UpdateToolTip="@UpdateToolTipID" Indent IsEnabled="@Flags.EnableRandomPromotions" Id="RPSpoilers" @bind-Value="Flags.RandomPromotionsSpoilers">Spoil Promotions</TriStateCheckBox>
					</div>
                    <div class="col-md-12">
                    </div>
                </div>
            </div>
        </BSCollapse>


        <button type="button" class="@(TabClasses("Fun %"))" @onclick="@(() => ActivateTab("Fun %"))">Fun %</button>
        <BSCollapse IsOpen="@(activeTabs.Contains("Fun %"))">
            <div class="is-dark nes-container">
                <div class="row">
                    <p>Fun flags are not part of the standard flags string since they do not impact gameplay. The buttons at the bottom can be used to store your preferred fun % settings within your browser so that they will be automatically restored each time you visit the site.</p>
                    <div class="col-md-6">
                        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="funEnemyNamesCheckBox" @bind-Checked="Flags.FunEnemyNames">Fun Enemy Names</CheckBox>
                        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="teamSteakCheckBox" @bind-Checked="Flags.TeamSteak">Team STEAK</CheckBox>
                        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="paletteSwapCheckBox" @bind-Checked="Flags.PaletteSwap">Palette Swap</CheckBox>
                        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="modernBattlefieldCheckBox" @bind-Checked="Flags.ModernBattlefield">Modern Battlefield</CheckBox>
                        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="thirdBattlePaletteCheckBox" @bind-Checked="Flags.ThirdBattlePalette">Three Battle Palettes</CheckBox>
                    </div>
                    <div class="col-md-6">
                        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="partyMapmanSlot" TItem="MapmanSlot" @bind-Value="Flags.MapmanSlot">Mapman Slot</EnumDropDown>
                        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="musicDropDown" TItem="MusicShuffle" @bind-Value="Flags.Music"></EnumDropDown>
                        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="disableDamageTileFlickerCheckBox" @bind-Checked="Flags.DisableDamageTileFlicker">Disable Damage Tile Flicker</CheckBox>
                        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="disableSpellCastFlashCheckBox" @bind-Checked="Flags.DisableSpellCastFlash">Disable Spell Cast Flash</CheckBox>
                        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="menuColorDropDown" TItem="MenuColor" @bind-Value="Flags.MenuColor">Menu Color</EnumDropDown>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" class="nes-btn is-primary" @onclick="@SavePreferences">Save Preferences</button>
                    </div>
                </div>
            </div>
        </BSCollapse>


        <br />
        <button type="button" class="nes-btn is-primary" @onclick="@OnRandomize">Generate ROM</button>
        <BSCollapse IsOpen="@(StatusMessage.Length > 0)">
            <div class="is-dark nes-container">
                @StatusMessage
            </div>
        </BSCollapse>


        <br />
        <div>
            &nbsp;
        </div>
    </CascadingValue>
</div>

@code { private byte[] _fileData;
    private FF1Rom _rom;

    private string _seed;
    private string _seedInputClass = "";

    private FlagsViewModel Flags { get; set; } = new FlagsViewModel();
    private Flags DefaultFlags;

    private readonly List<string> activeTabs = new List<string> { "File", "Shuffle", "Treasures", "Goal", "Map", "Scale", "Party", "Bug Fixes", "Conveniences", "Fun %" };

    private string StatusMessage = "";
    private string RomMessage = "Upload Rom:";

    private bool RememberROM = false;

    private string ToolTipId = "unupdated";
    private ToolTip ToolTipElement;

    private async void UpdateToolTipID(string Id, MouseEventArgs e)
    {
        ToolTipId = Id;
        await ToolTipElement.UpdatePos(ToolTipId, e);
        StateHasChanged();
    }

    void ActivateTab(string tab)
    {
        if (!activeTabs.Remove(tab))
        {
            activeTabs.Add(tab);
        }
        StateHasChanged();
    }

    string TabClasses(string tab)
    {
        return activeTabs.Contains(tab) ? "nes-btn nes-nav is-success" : "nes-btn nes-nav is-warning";
    }

    protected override async void OnInitialized()
    {
        Flags.PropertyChanged += (sender, args) => StateHasChanged();
        Flags.PropertyChanged += async (sender, args) => await SetQueryString();

        var uri = new Uri(NavigationManager.Uri);
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("s", out var seed))
        {
            _seed = seed.Single();
        }
        else
        {
            await OnNewSeed(null);
        }

        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("f", out var flags))
        {
            TrySetFlags(flags.First());
        }
        else
        {
            await LoadPreset("default");
        }

        await LoadPreferences();
        await LoadLastROM();
        StateHasChanged();
    }

    async Task SetQueryString()
    {
        string[] args = new string[2] { _seed, Flags.Encoded };

        await JSRuntime.InvokeAsync<Task>("updateHistory", args);
    }

    async Task LoadPreset(string presetName)
    {
        var json = await JSRuntime.InvokeAsync<string>("computePreset", presetName);
        Flags.Flags = System.Text.Json.JsonSerializer.Deserialize<Flags.Preset>(json).Flags;
    }

    async Task OnFileChanged(ChangeEventArgs e)
    {
        var encoded = await JSRuntime.InvokeAsync<string>("handleFileSelect", "fileInput");
        RomMessage = "Using Selected ROM.";
        SetFileData(encoded);

        if (RememberROM)
        {
            await LocalStorage.SetItemAsync("file", encoded);
        }
    }

    void SetFileData(string encoded)
    {
        _fileData = Convert.FromBase64String(encoded);
    }

    async Task OnSeedInputChanged(ChangeEventArgs e)
    {
        await ValidateSeed((string)e.Value);
    }

    async Task ValidateSeed(string seed)
    {
        if (seed == _seed)
            return;

        if (seed.Length > 8)
        {
            _seedInputClass = "is-error";
            return;
        }

        _seed = seed;
        try
        {
            Blob.FromHex(_seed);
            _seed = seed.PadLeft(8, '0');
            _seedInputClass = "";
            await SetQueryString();
        }
        catch (Exception)
        {
            _seedInputClass = "is-error";
        }
    }

    async Task OnNewSeed(MouseEventArgs e)
    {
        await ValidateSeed(Blob.Random(4).ToHex());
        StateHasChanged();
    }

    void OnCopyToClipboard(MouseEventArgs e)
    {
        StatusMessage = "URL Copied To Clipboard.";
        StateHasChanged();

        JSRuntime.InvokeAsync<object>("copyLocation");
    }

    void OnFlagsInputChanged(ChangeEventArgs e)
    {
        TrySetFlags((string)e.Value);
    }

    void TrySetFlags(string flags)
    {
        try
        {
            Flags.Flags = FF1Lib.Flags.DecodeFlagsText(flags);
            StatusMessage = "Successfully imported Flags.";
        }
        catch (Exception)
        {
            StatusMessage = "Invalid Flags String.";
        }
    }

    async Task LoadPreferences()
    {
        Preferences temp = await LocalStorage.GetItemAsync<Preferences>("preferences") ?? new Preferences();
        Flags.Preferences = temp;

    }

    async Task SavePreferences()
    {
        await LocalStorage.SetItemAsync("preferences", Flags.Preferences);
    }

    async Task LoadLastROM()
    {
        string encoded = await LocalStorage.GetItemAsync<string>("file");
        RememberROM = encoded != null && encoded.Length > 0;
        if (RememberROM)
        {
            SetFileData(encoded);
            RomMessage = "Using Remembered ROM.";
            StatusMessage += " Remembered last used ROM.";
        }
    }

    async Task OnRandomize(MouseEventArgs e)
    {
        if (_fileData == null)
        {
            StatusMessage = "Generate Failed: No ROM File Selected!";
            StateHasChanged();
            return;
        }

        using (var stream = new MemoryStream(_fileData))
        {
            _rom = new FF1Rom(stream);
        }

        if (RememberROM)
        {
            await LocalStorage.SetItemAsync("file", Convert.ToBase64String(_fileData));
        }
        else
        {
            await LocalStorage.RemoveItemAsync("file");
        }

        StatusMessage = "Generating Final Fantasy Randomizer ROM ... Please Wait ... ";
        StateHasChanged();

        await Task.Run(DoRandomize);
    }

    async Task DoRandomize()
    {
        Blob seed;
        try
        {
            if (_seed.Length != 8)
            {
                throw new Exception();
            }
            seed = Blob.FromHex(_seed);
        }
        catch (Exception)
        {
            StatusMessage = "Generate Failed: Invalid Seed Format";
            StateHasChanged();
            return;
        }

        try
        {

            _rom.Randomize(seed, Flags.Flags, Flags.Preferences);

            var data = new byte[512 * 1024 + 16];
            using (var stream = new MemoryStream(data, true))
            {
                _rom.Save(stream);
            }

            var encoded = Convert.ToBase64String(data);

            StatusMessage += "SUCCESS!";

            if (Flags.Spoilers)
            {
                StatusMessage += " SPOILER LOG IN BROWSER CONSOLE!";
            }

            StateHasChanged();

            await JSRuntime.InvokeAsync<object>("downloadROM", $"FFR_{_seed}_{Flags.Encoded}.nes", encoded);
        }
        catch (Exception e)
        {
            StatusMessage += "FAILURE: " + e.Message;
            StateHasChanged();
        }
    } }
